@import '../../../../scss/_partials/variables';

.root {
    height: $proposal-button-diameter;
    width: $proposal-button-diameter;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    background: white;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 3px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    font-size: 1.5em;
    cursor: pointer;
}