@import '../../../../scss/_partials/colors';

.ownproposalsotherlist {
  min-height: 100vh;
}

.separation {
  height: 85px;
  margin-left: 5%;
  font-weight: bold;
  line-height: 85px;
}

.first {
  height: 75px;
  margin-left: 5%;
  font-weight: bold;
  line-height: 75px;
}