{
  "env": {
    "test": {
      "presets": ["env", "react", "stage-0"],
      "plugins": ["transform-decorators-legacy"],
      "only": [
        "./**/*.js",
        "node_modules/jest-runtime"
      ]
    }
  }
}