<?xml version='1.0' encoding='utf-8'?>
<widget id="com.nekuno" version="0.17.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Nekuno</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="Orientation" value="portrait" />
    <preference name="SplashScreen" value="screen" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="src/scss/img/icons/72 - hdpi.png" />
        <icon density="mdpi" src="src/scss/img/icons/96 - xhdpi.png" />
        <icon density="hdpi" src="src/scss/img/icons/144 - xxhdpi.png" />
        <icon density="xhdpi" src="src/scss/img/icons/192 - xxxhpdi.png" />
        <splash density="port-ldpi" src="src/scss/img/splash/ldpi.9.png" />
        <splash density="port-mdpi" src="src/scss/img/splash/mdpi.9.png" />
        <splash density="port-hdpi" src="src/scss/img/splash/hdpi.9.png" />
        <splash density="port-xhdpi" src="src/scss/img/splash/xhdpi.9.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="src/scss/img/icons/ios/icon-60@3x.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="src/scss/img/icons/ios/icon-60@2x.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="src/scss/img/icons/ios/icon-76.png" width="76" height="76" />
        <icon src="src/scss/img/icons/ios/icon-76@2x.png" width="152" height="152" />
        <!-- iOS 6.1 -->
        <!-- Spotlight Icon -->
        <icon src="src/scss/img/icons/ios/icon-40.png" width="40" height="40" />
        <icon src="src/scss/img/icons/ios/icon-40@2x.png" width="80" height="80" />
        <!-- iPhone / iPod Touch -->
        <icon src="src/scss/img/icons/ios/icon.png" width="57" height="57" />
        <icon src="src/scss/img/icons/ios/icon@2x.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="src/scss/img/icons/ios/icon-72.png" width="72" height="72" />
        <icon src="src/scss/img/icons/ios/icon-72@2x.png" width="144" height="144" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="src/scss/img/icons/ios/icon-small.png" width="29" height="29" />
        <icon src="src/scss/img/icons/ios/icon-small@2x.png" width="58" height="58" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="src/scss/img/icons/ios/icon-50.png" width="50" height="50" />
        <icon src="src/scss/img/icons/ios/icon-50@2x.png" width="100" height="100" />
        <splash src="src/scss/img/splash/Default~iphone.png" width="320" height="480"/>
        <splash src="src/scss/img/splash/Default@2x~iphone.png" width="640" height="960"/>
    </platform>
    <engine name="android" spec="~5.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.1" />
    <plugin name="cordova-plugin-crosswalk-webview" spec="~1.6.1" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.3.0" />
    <plugin name="cordova-plugin-splashscreen" spec="~3.2.2" />
    <plugin name="cordova-plugin-x-socialsharing" spec="~5.1.1" />
    <plugin name="cordova-plugin-facebook4" spec="~1.7.1">
        <variable name="APP_ID" value="900844543277969" />
        <variable name="APP_NAME" value="fornekuno" />
    </plugin>
</widget>
