@import '../../../_partials/colors';

body #root .App .views .view.proposals-experience-features-view {
  background-color: $background-white;
  color: $gray-main-text;
  z-index: 0;

  .proposals-experience-features-wrapper {
    color: $gray-secondary-text;

    h2 {
      padding: 0 24px;
      text-align: center;
    }
  }

  .warning-container {
    margin: 2.5%;
    display: flex;
  }
}