@import '../../../_partials/colors';

body #root .App .views .view.proposal-type-edit {
  background-color: $background-white;
  color: $gray-main-text;
  text-align: center;
  z-index: 0;

  .proposal-wrapper {
    h2 {
      padding: 0 24px;
    }



  }
}