@import '../../../../scss/_partials/colors';

.proposalRecommendationList {
  font-size: 15px;
  padding: 16px;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    .likeIcon {
      color: $material-green;
    }
    .passIcon {
      color: $material-red;
    }
  }
}

.prev, .next {
  opacity: 0;
}