@import '../../../../scss/_partials/colors';

.proposalRecommendationList {
  background: #fff;
  font-size: 15px;
  padding: 25px;
  overflow-x: hidden;
}

.shownRecommendation {

}

.nextRecommendation {
  position: absolute;
  left: 100%;
  top: 0;
  display: none;
}