@import '../../../scss/_partials/colors';

.view {
  background-color: $background;
}

.top-nav-bar {
  position: absolute;
  top: 0;
  width: 100%;
}

.top-data {
  text-align: left;
  padding-left: 10%;
  padding-top: 5%;
}

.natural-category {
  display: flex;
}

.loading {
  margin-top: 100px;
  text-align: center;
}

.matching-bars-wrapper {
  padding-left: 10%;
}

.navbar-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 9001;
}
