@import '../../../../../scss/_partials/colors';

.title {
  width: 30%;
  height: 20px;
  color: #2b3857;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  display: inline-block;
}

.wrapper {
  display: flex;
}