@import '../../../../scss/_partials/colors';

.natural-category {
  display: flex;
  align-items: center;
  padding: 5%;

  .icon {
    width: 20%;
    height: 100%;
  }

  .text {
    width: 80%;
    text-align: left;
    color: black;
    font-size: 14px;
  }
}