@import '../../_partials/colors';

body #root .App .views .view.user-answers-view {
  background-color: $background;
  color: $gray-main-text;
  // text-align: center;
  z-index: 0;
  overflow-y: hidden;


  .user-answers-view-wrapper {

  }
}
