@import '../_partials/colors';

body #root .App .view .page {
  &.answer-question-page {
    height: 100%;
  }
  &.answer-question-page.objectives-page {
    width: 100%;
    #page-content.answer-question-content {
      margin: -40px auto;
      width: 100%;

      .answer-question-title {
        font-size: 1.4em;
        margin: auto;
        width: 85%;
      }
      .objectives-field {
        .text-checkboxes {
          padding: 25px 0;
          .chip {
            border-radius: 0;
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
            margin: 0;
            width: 50%;
            height: 90px;
            padding: 20px 0;

            &.disabled-chip {
              background: none;
            }
            .chip-label {
              .icon {
                font-size: 2em;
              }
            }
          }
        }
      }

      .button {
        width: 85%;
        margin: -30px auto 0;
        display: block;
      }
    }

    @media only screen and (min-width: 350px) {
      #page-content.answer-question-content {
        .answer-question-title {
          font-size: 1.7em;
        }
        .objectives-field {
          .text-checkboxes {
            padding: 35px 0;
            .chip {
              height: 100px;
            }
          }
        }
      }
    }

  }
  #page-content {
    .answer-question {
      margin-top: 70px;

      .answer-question-title {
        margin-bottom: 20px;

        &.answer-question-title-long {
          font-size: 1.2em;
        }
      }
      .objectives-field .text-checkboxes .chip {
        margin: 5px;
      }
      .answer-question-form {
        form {
          .disabled {
            opacity: 0.3;
          }
          .list-block.answers, .list-block.accepted-answers {
            margin: auto;
            float: left;
            position: relative;
            width: 82%;

            .answer-question-who-text {
              height: 30px;
              margin-right: -10px;
              float: right;
              font-size: 0.9em;
              text-align: center;
              width: 42px;
            }

            .answer-question-picture {
              clear: both;
              height: 47px;
              margin-right: -10px;
              text-align: right;

              .joyride-start-button-wrapper {
                background-color: #fff;
                border-radius: 50%;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                cursor: pointer;
                position: absolute;
                height: 42px;
                width: 42px;
                
                .joyride-start-button {
                  background-color: $dark-blue;
                  border-radius: 50%;
                  -moz-border-radius: 50%;
                  -webkit-border-radius: 50%;
                  font-size: 1.6em;
                  margin: 1px 0 0 1px;
                  text-align: center;
                  font-weight: bold;
                  height: 40px;
                  width: 40px;
                }
              }

              .answer-question-own-picture-container, .answer-question-other-picture-container {
                background-color: #fff;
                border-radius: 50%;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                display: inline-block;
                height: 42px;
                width: 42px;

                .answer-question-own-picture, .answer-question-other-picture {
                  border-radius: 50%;
                  -moz-border-radius: 50%;
                  -webkit-border-radius: 50%;
                  height: 40px;
                  margin: 1px 0 0 1px;
                  width: 40px;

                  img {
                    border-radius: 50%;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    height: 40px;
                    width: 40px;
                  }
                }
                .answer-question-other-picture {
                  background: $dark-blue;
                  text-align: center;

                  span {
                    color: #fff;
                    line-height: 40px;
                  }
                }
              }
              .answer-question-other-picture-container {
                margin-left: 2%;
              }
            }
            ul {
              li {
                .label-checkbox {
                  .item-inner {
                    .item-title {
                      width: 90%;
                    }
                  }
                }
                &::after {
                  content: none;
                }
              }
              .active-state {
                background-color: transparent;
              }
            }
          }

          .list-block.accepted-answers {
            margin-left: 15%;
            position: absolute;
            width: 69.7%;

            ul {
              li {
                .label-checkbox {

                  .item-inner {
                    .item-title {
                      opacity: 0;
                    }
                  }
                  input {
                    z-index: 100;
                  }
                }
                .icon-form-checkbox {
                  border-radius: 0;
                }
              }
            }
          }

          .answer-step-text {
            color: $light-green;
            display: block;
            font-weight: bold;
            clear: both;
            text-align: center;
            margin-bottom: -10px;
            padding-top: 10px;
          }

          .answers-tutorial-block {
            height: 100%;
            left: 100%;
            margin-left: -32px;
            position: absolute;
            width: 42px;
          }

          .accepted-answers-importance {
            .text-radios .text-radios-title {
              width: 115%;
              margin-left: -7.5%;
            }
          }
        }
      }

      .list-block {
        ul.checkbox-genders-list {
          display: inline-table;
          padding: 0 2.5%;
          width: 45%;

          li {
            .label-checkbox {
              .item-inner {
                .item-title {
                  width: 80%;
                }
              }
            }
            &::after {
              content: none;
            }
          }
          .active-state {
            background-color: transparent;
          }
        }
        .date-content {
          input {
            text-align: center;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 300px) {
  body #root .App .view .page.answer-question-page {
    width: 90%;
  }
}