@import '../_partials/colors';

.chat-threads-view {
  background: $background;
  color: $gray-main-text;
  text-align: left;
  height: 100%;

  .chat-threads-wrapper {
    height: calc(100% - 100px);
    h4 {
      font-weight: 600;
      margin-left: 20px;
    }
  }
}