@import '../_partials/colors';

body #root .App .views .view.notifications-view {
  background-color: $background-white !important;
  color: $gray-main-text;
  text-align: center;
  z-index: 0;

  .notifications-wrapper {

  }
}