body #root .App .views .view .page.connect-social-networks-page  {
  #page-content {
    margin: 60px auto 0 auto;
    width: 100%;

    .title, .excerpt {
      margin: auto;
      width: 85%;
    }
  }
  &.connect-social-networks-on-sign-up-page {
    #page-content {
      margin: 30px auto 0 auto;

      .title {
        margin-bottom: 20px;
      }
    }
  }
}

@media only screen and (max-width: 300px) {
  body #root .App .view .page.connect-social-networks-page {
    width: 90%;

    svg {
      margin-left: -3%;
    }
  }
}

@media only screen and (max-width: 280px) {
  body #root .App .view .page.connect-social-networks-page {
    svg {
      margin-left: -7%;
    }
  }
}