@import '../_partials/colors';

body #root .App .views .view.connect-facebook-view {
  background: $purple-main;
  text-align: center;
  overflow: hidden;

  .connect-facebook-wrapper {
    height: 100%;
    margin-top: 50px;

    .image-wrapper {
      padding: 0 24px;
      text-align: center;

      img {
        width: 75%;
      }
    }

    h1, .resume {
      padding: 0 24px;
    }

    .resume {
      margin-bottom: 32px;
    }

    .skip-wrapper-center {
      .skip-text {
        border: 1px solid #fff;
        padding: 20px 60px;
        border-radius: 30px;
      }
      font-size: 16px;
      cursor: pointer;
      font-weight: bold;
      z-index: 111;
      position: absolute;
      width: 100%;
      bottom: 80px;
      text-align: center;
    }
  }
}