@import '../_partials/colors';

body #root .App .view .page.create-thread-page  {
  position: relative;
  z-index: 1111;

  #page-content {
    .thread-title ul li input[type="text"] {
      color: #fff;
      font-size: 1.7em;
      margin-bottom: 5px;
    }

    .persons-first-vertical-line {
      border-left: 1px solid $green-alert;
      height: 20%;
      margin-left: 7px;
      top: 120px;
      position: absolute;
    }
    .persons-middle-vertical-line {
      border-left: 1px solid $green-alert;
      height: 45%;
      margin-left: 7px;
      margin-top: -10px;
      position: absolute;
    }
    .persons-last-vertical-line {
      border-left: 1px solid $green-alert;
      bottom: 250px;
      height: 20%;
      margin-left: 7px;
      position: absolute;
    }
    .opposite-vertical-line {
      border-left: 2px solid $dark-purple;
      margin-top: -22px;
      height: 40%;
      margin-left: 7px;
      position: absolute;
    }
    .contents-first-vertical-line {
      border-left: 1px solid $green-alert;
      height: 15%;
      margin-left: 7px;
      top: 120px;
      position: absolute;
    }
    .contents-middle-vertical-line {
      border-left: 1px solid $green-alert;
      height: 250px;
      margin-left: 7px;
      margin-top: -10px;
      position: absolute;
    }
    .contents-last-vertical-line {
      border-left: 1px solid $green-alert;
      bottom: 250px;
      height: 20%;
      margin-left: 7px;
      position: absolute;
    }

    .main-filter-wprapper, .users-filters-wrapper, .content-filters-wrapper {
      display: table;
      height: 100%;
      width: 100%;
    }

    .users-filters-wrapper, .content-filters-wrapper {
      .thread-filter {
        height: 70px;
      }
      .radio-filter {
        height: 90px;
      }

    }
    .radio-filter, .tags-and-choice-filter {
      .double-choice-filter, .tags-and-choice-choice {
        display: inline-block;
        width: 85%;
        vertical-align: middle;

        .list-block {
          margin: 0 0 0 15px;
        }
        .tags-and-choice-choice-radios {
          margin-top: 20px;
        }
      }
      .tags-and-choice-choice {
        margin-left: 30px;
      }
      .tags-and-choice-unselected-filters {
        display: inline-block;
        margin-left: 30px;

        .tags-and-choice-unselected-filter {
          display: inline-block;
        }
      }
      .add-tags-and-choice, .remove-tags-and-choice {
        cursor: pointer;
        margin: 20px 0 20px 30px;
      }
    }

    .choice-filter {
      vertical-align: middle;
    }

    .thread-filter {
      display: table-row;

      .thread-filter-background {
        background: $deep-purple-translucent;
        height: 90%;
        left: 0;
        margin-top: -15px;
        opacity: 0.5;
        padding: 40px 0;
        position: absolute;
        width: 100%;
        z-index: -2;

        .thread-filter-remove {
          cursor: pointer;
          float: right;
          margin: -30px 2% 30px 0;
        }
      }
      .thread-filter-dot {
        color: $deep-purple;
        display: inline-block;
        margin-right: 15px;
        width: 15px;
        z-index: 111;

        .icon-circle {
          border: 2.5px solid $dark-blue;
          box-shadow: 0 0 0 2.5px $dark-blue;
          border-radius: 50%;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          font-size: 11px;
          position: absolute;
          margin-top: -10px;
        }
        .icon-plus {
          border: 2.5px solid $deep-purple;
          box-shadow: 0 0 0 2.5px $deep-purple;
          border-radius: 50%;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          background-color: $deep-purple;
          color: #fff;
          font-size: 11px;
          position: absolute;
          margin-top: -10px;
        }
        .icon-circle.active {
          color: $green-alert;
          border: 2.5px solid $green-alert-translucent;
          box-shadow: 0 0 0 2.5px $deep-purple-translucent;
        }
      }
      .text-radios {
        display: inline-block;
        width: 90%;
        padding: 0;
        z-index: 111;
      }
      .text-checkboxes {
        display: inline-block;
        max-width: 85%;
        padding: 0;
        text-align: left;
        vertical-align: middle;
        z-index: 111;

        .chip {
          margin: 5px;
        }
      }
    }

    .thread-filter-opposite-background {
      background: $dark-purple;
      height: 60%;
      left: 0;
      margin-top: 15px;
      padding: 40px 0;
      position: absolute;
      width: 100%;
      z-index: -1;
    }

    .radio-filter, .tags-and-choice-filter {
      display: table-row;
      width: 100%;

      .tags-and-choice-wrapper {
        display: inline;
      }
      
      .list-block {
        display: inline-block;
        margin: 0;
        width: 80%;
        vertical-align: middle;

        .item-title {
          width: 100%;
        }
      }
    }

    .integer-filter, .tags-and-choice-filter {
      .list-block {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
        width: 80%;

        .integer-title, .tags-and-choice-title {
          font-size: 0.8em;
          font-weight: bold;
          text-align: center;
        }

        .item-input {
          font-weight: 400;
          background: transparent;
          height: 60px;
          line-height: 60px;
          padding: 0 5px;
          vertical-align: middle;
          margin: 2px 0;
          width: 100%;

          input[type="text"] {
            background-color: transparent;
            border: none;
            color: #fff;
            width: 100%;
          }
        }
      }
    }

    .table-row {
      display: block;
      height: 30px;
      width: 100%;
    }

    .location-tag-filter {

      .location-filter-wrapper {
        display: inline-block;
        width: 85%;
        vertical-align: middle;

        .list-block {
          display: inline-block;
          margin: 0 0 0 15px;
          vertical-align: middle;
          width: 90%;

          .location-title {
            font-size: 0.8em;
            font-weight: bold;
            text-align: center;
          }
        }
      }
    }

    .select-filter {
      background: $dark-purple;
      height: 500px;
      left: 0;
      padding-top: 30px;
      position: absolute;
      top: -50px;
      width: 100%;
      z-index: 1111;

      .back-to-selected-filters {
        cursor: pointer;
        margin-left: 5%;
      }

      .list-block {
        margin: 35px 0 35px 5%;

        ul.checkbox-filters-list {
          display: inline-table;
          padding: 0 2.5%;
          vertical-align: text-top;
          width: 44%;

          li {
            .label-checkbox {
              .item-inner {
                .item-title {
                  width: 80%;
                }
              }
            }
            &::after {
              content: none;
            }
          }
          .active-state {
            background-color: transparent;
          }
        }
      }
    }

    .add-filter {
      display: inline-block;

      .add-filter-button-wrapper {
        font-weight: 400;
        background: $deep-purple;
        height: 60px;
        line-height: 60px;
        border-radius: 30px;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        padding: 0 24px;
        box-sizing: border-box;
        vertical-align: middle;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: -webkit-inline-flex;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        margin: 2px 0;

        .add-filter-button {
          cursor: pointer;
          font-size: 1.3em;
        }
      }
    }

    @media only screen and (max-width: 300px) {
      .thread-filter {
        .thread-filter-background {
          .thread-filter-remove .small-icon-wrapper {
            margin-left: -65px;
          }
        }
      }
    }

    @media only screen and (min-width: 360px) and (max-width: 375px) {
      .thread-filter {
        .text-radios .chip {
          max-width: 265px;
        }
        .text-checkboxes .chip {
          max-width: 265px;
        }
      }
    }

    @media only screen and (min-width: 340px) and (max-width: 359px) {
      .thread-filter {
        .text-radios {
          max-width: 255px;
        }
        .text-checkboxes .chip {
          max-width: 255px;
        }
      }
    }

    @media only screen and (max-width: 338px) {
      .select-filter .list-block ul.checkbox-filters-list {
        width: 88%;
      }
    }

    @media only screen and (max-width: 339px) {
      .thread-filter {
        .text-radios {
          max-width: 220px;
        }
        .text-checkboxes .chip {
          max-width: 220px;
        }
      }
    }
  }
}