@import '../_partials/colors';

body #root .App .view .page.create-thread-page  {
  #page-content {
    .list-block ul li input[type="text"] {
      color: #fff;
      font-size: 1.7em;
      margin-bottom: 5px;
    }

    .users-first-vertical-line {
      border-left: 1px solid $green-alert;
      height: 35%;
      margin-left: 7px;
      top: 175px;
      position: absolute;
    }
    .users-last-vertical-line {
      border-left: 1px solid $green-alert;
      bottom: 330px;
      height: 35%;
      margin-left: 7px;
      position: absolute;
    }
    .content-first-vertical-line {
      border-left: 1px solid $green-alert;
      height: 15%;
      margin-left: 7px;
      top: 170px;
      position: absolute;
    }
    .content-middle-vertical-line {
      border-left: 1px solid $green-alert;
      height: 25%;
      margin-left: 7px;
      margin-top: -25%;
      position: absolute;
    }
    .content-last-vertical-line {
      border-left: 1px solid $green-alert;
      margin-top: -60px;
      height: 15%;
      margin-left: 7px;
      position: absolute;
    }

    .main-filter-wprapper, .users-filters-wrapper {
      display: table;
      height: 100%;
      width: 100%;
    }
    .thread-filter {
      display: table-row;

      .thread-filter-dot {
        color: $deep-purple;
        display: inline-block;
        margin-right: 15px;
        width: 15px;

        .icon-circle {
          border: 2.5px solid $dark-blue;
          box-shadow: 0 0 0 2.5px $dark-blue;
          border-radius: 50%;
          font-size: 11px;
          position: absolute;
          margin-top: -10px;
        }
        .icon-plus {
          border: 2.5px solid $deep-purple;
          box-shadow: 0 0 0 2.5px $deep-purple;
          border-radius: 50%;
          background-color: $deep-purple;
          color: #fff;
          font-size: 11px;
          position: absolute;
          margin-top: -10px;
        }
        .icon-circle.active {
          color: $green-alert;
          border: 2.5px solid $green-alert-translucent;
          box-shadow: 0 0 0 2.5px $deep-purple-translucent;
        }
      }
      .text-radios {
        display: inline-block;
        width: 90%;
        padding: 0;
      }
      .text-checkboxes {
        display: inline-block;
        max-width: 90%;
        padding: 0;
        text-align: left;
        vertical-align: middle;

        .chip {
          margin: 5px;
        }
      }
    }

    .radio-filter {
      display: table-row;
      width: 100%;
    }

    .table-row {
      display: table-row;
      height: 30px;
      width: 100%;
    }

    .location-filter {
      display: block;

      .text-checkboxes {
        .chip {
          max-width: 95%;
        }
      }
    }
    .location-tag-filter {
      .geosuggest__suggests-wrapper {
        position: absolute;
        z-index: 111;
        background: $purple;
        border-radius: 20px;
        padding: 0 10px;

        ul {
          padding: 0px;

          li {
            display: inline-block;
            list-style-type: none;
            font-weight: 400;
            background: $deep-purple;
            height: 32px;
            line-height: 32px;
            border-radius: 16px;
            padding: 0 12px;
            box-sizing: border-box;
            vertical-align: middle;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: -webkit-inline-flex;
            display: inline-flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            margin: 2px;
          }
        }
      }
    }

    @media only screen and (min-width: 360px) and (max-width: 375px) {
      .thread-filter {
        .text-radios {
          width: 85%;
        }
        .text-checkboxes {
          max-width: 85%;
        }
      }
    }

    @media only screen and (max-width: 359px) {
      .thread-filter {
        .text-radios {
          width: 80%;
        }
        .text-checkboxes {
          max-width: 80%;
        }
      }
    }

  }
}