@import '../_partials/colors';

body #root .App .view .page.create-thread-page  {
  #page-content {
    .thread-title ul li input[type="text"] {
      color: #fff;
      font-size: 1.7em;
      margin-bottom: 5px;
    }

    .users-first-vertical-line {
      border-left: 1px solid $green-alert;
      height: 20%;
      margin-left: 7px;
      top: 170px;
      position: absolute;
    }
    .users-middle-vertical-line {
      border-left: 1px solid $green-alert;
      height: 18%;
      margin-left: 7px;
      margin-top: -10%;
      position: absolute;
    }
    .users-last-vertical-line {
      border-left: 1px solid $green-alert;
      bottom: 295px;
      height: 20%;
      margin-left: 7px;
      position: absolute;
    }
    .content-first-vertical-line {
      border-left: 1px solid $green-alert;
      height: 15%;
      margin-left: 7px;
      top: 170px;
      position: absolute;
    }
    .content-middle-vertical-line {
      border-left: 1px solid $green-alert;
      height: 25%;
      margin-left: 7px;
      margin-top: -25%;
      position: absolute;
    }
    .content-last-vertical-line {
      border-left: 1px solid $green-alert;
      margin-top: -60px;
      height: 15%;
      margin-left: 7px;
      position: absolute;
    }

    .main-filter-wprapper, .users-filters-wrapper {
      display: table;
      height: 100%;
      width: 100%;
    }

    .double-choice-filter {
      display: inline-block;
      width: 90%;
      vertical-align: middle;
    }

    .choice-filter {
      vertical-align: middle;
    }

    .thread-filter {
      display: table-row;

      .thread-filter-background {
        background: $deep-purple-translucent;
        height: 40%;
        left: 0;
        margin-top: -15px;
        opacity: 0.5;
        padding: 40px 0;
        position: absolute;
        width: 100%;
        z-index: -2;

        .thread-filter-remove {
          cursor: pointer;
          float: right;
          margin: -30px 5% 30px 0;
        }
      }
      .thread-filter-dot {
        color: $deep-purple;
        display: inline-block;
        margin-right: 15px;
        width: 15px;
        z-index: 111;

        .icon-circle {
          border: 2.5px solid $dark-blue;
          box-shadow: 0 0 0 2.5px $dark-blue;
          border-radius: 50%;
          font-size: 11px;
          position: absolute;
          margin-top: -10px;
        }
        .icon-plus {
          border: 2.5px solid $deep-purple;
          box-shadow: 0 0 0 2.5px $deep-purple;
          border-radius: 50%;
          background-color: $deep-purple;
          color: #fff;
          font-size: 11px;
          position: absolute;
          margin-top: -10px;
        }
        .icon-circle.active {
          color: $green-alert;
          border: 2.5px solid $green-alert-translucent;
          box-shadow: 0 0 0 2.5px $deep-purple-translucent;
        }
      }
      .text-radios {
        display: inline-block;
        width: 90%;
        padding: 0;
        z-index: 111;
      }
      .text-checkboxes {
        display: inline-block;
        max-width: 90%;
        padding: 0;
        text-align: left;
        vertical-align: middle;
        z-index: 111;

        .chip {
          margin: 5px;
        }
      }
    }

    .thread-filter-opposite-background {
      background: $dark-purple;
      height: 40%;
      left: 0;
      margin-top: 15px;
      padding: 40px 0;
      position: absolute;
      width: 100%;
      z-index: -1;
    }

    .radio-filter {
      display: table-row;
      width: 100%;
    }

    .table-row {
      display: table-row;
      height: 30px;
      width: 100%;
    }

    .location-filter {
      display: block;

      .text-checkboxes {
        .chip {
          max-width: 95%;
        }
      }
    }
    .location-tag-filter {

      .list-block {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
        width: 80%;

        .location-title {
          font-size: 0.8em;
          font-weight: bold;
          text-align: center;
        }
      }
    }

    .select-filter {
      background: $dark-purple;
      height: 500px;
      left: 0;
      position: absolute;
      top: 50px;
      width: 100%;
      z-index: 1111;

      .list-block {
        margin: 35px 0 35px 5%;

        ul.checkbox-filters-list {
          display: inline-table;
          padding: 0 2.5%;
          width: 45%;

          li {
            .label-checkbox {
              .item-inner {
                .item-title {
                  width: 80%;
                }
              }
            }
            &::after {
              content: none;
            }
          }
          .active-state {
            background-color: transparent;
          }
        }
      }
    }

    .add-filter {
      display: inline-block;

      .add-filter-button-wrapper {
        font-weight: 400;
        background: $deep-purple;
        height: 60px;
        line-height: 60px;
        border-radius: 30px;
        padding: 0 24px;
        box-sizing: border-box;
        vertical-align: middle;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: -webkit-inline-flex;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        margin: 2px 0;

        .add-filter-button {
          cursor: pointer;
          font-size: 1.3em;
        }
      }
    }

    @media only screen and (min-width: 360px) and (max-width: 375px) {
      .thread-filter {
        .text-radios {
          width: 85%;
        }
        .text-checkboxes {
          max-width: 85%;
        }
      }
    }

    @media only screen and (max-width: 359px) {
      .thread-filter {
        .text-radios {
          width: 80%;
        }
        .text-checkboxes {
          max-width: 80%;
        }
      }
    }
  }
}