@import '../_partials/colors';

body #root .App .views .view .page.discover-page {

  #page-content {
    width: 100% !important;

    .answer-questions-link-container {
      position: relative;
    }

    .small-chip-list {
      cursor: pointer;
      margin: 20px auto;
      text-align: center;
    }

    .edit-thread-button {
      margin: 20px auto;
      text-align: center;
      
      button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        height: 40px;
        width: 180px;
      }
      
      .text {
        line-height: 1;
        padding-left: 8px;
      }
    }

    .user-list {
      .infinite-column {
        display: flex;
        padding: 8px 12px 0;
      }
      .card {
        margin: 0 4px;
        flex: 1;
        &.filler {
          visibility: hidden;
        }
      }
    }
  }

}
