@import '../_partials/colors';

body #root .App .views .view.explorer-profile-plans-view {
  background-color: $background-white;
  color: $gray-main-text;
  text-align: center;
  z-index: 0;

  .explorer-profile-plans-wrapper {
    margin-bottom: 60px;

    h2 {
      padding: 0 24px
    }
  }
}