@import '../_partials/colors';

//recaptcha styles
@media only screen and (min-width: 465px) {
  body > div > div > iframe[title~="recaptcha"] {
    position: fixed;
    left: 1%;
  }
}

body #root .App .views .view.home-view {
  max-height: 900px;
  min-height: 420px;

  .bottom-layer {
    bottom: 200px;
    margin-top: 70%;
    position: absolute;
    width: 100%;
    z-index: 111;

    .swiper-pagination-and-button {
      bottom: 0;
      text-align: center;
      margin: auto;
      position: absolute;
      width: 100%;
      z-index: 100;

      .title {
        font-size: 1.8em;
        font-weight: bold;
        margin: 0 auto 20px;
      }

      .slider-buttons {
        font-size: 3em;
        text-align: center;
        .slider-button {
          color: #fff;
          cursor: pointer;
          display: inline-block;
          margin: 10px 0;
          width: 30%;
          .icon {

            &.active {
              opacity: 1;
              animation: showIcon 1s;
              -moz-animation: showIcon 1s; /* Firefox */
              -webkit-animation: showIcon 1s; /* Safari and Chrome */

              @keyframes showIcon
              {
                from {opacity: 0.2;}
                to {opacity: 1;}
              }
              @-moz-keyframes showIcon
              {
                from {opacity: 0.2;}
                to {opacity: 1;}
              }
              @-webkit-keyframes showIcon
              {
                from {opacity: 0.2;}
                to {opacity: 1;}
              }
            }
          }
          .slider-button-text {
            opacity: 0;
            font-size: 0.5em;
            font-weight: bold;

            &.active {
              opacity: 1;
              animation: showIconText 1s;
              -moz-animation: showIconText 1s; /* Firefox */
              -webkit-animation: showIconText 1s; /* Safari and Chrome */

              @keyframes showIconText
              {
                from {opacity: 0;}
                to {opacity: 1;}
              }
              @-moz-keyframes showIconText
              {
                from {opacity: 0;}
                to {opacity: 1;}
              }
              @-webkit-keyframes showIconText
              {
                from {opacity: 0;}
                to {opacity: 1;}
              }
            }
          }
        }
      }
      .button.button-big.button-round {
        margin: 5% auto 10px;
        position: relative;
        width: 80%;
      }
    }
  }


  .swiper-container {
    height: 100%;

    .slick-list {
      height: 100%;

      .slick-track {
        height: 100%;
      }
    }

    .swiper-slide {
      height: 100%;
      text-align: center;

      .page#login-1-image, .page#login-2-image, .page#login-3-image {
        background-size: 100% auto;
        background-position: center 50%;
        height: 100%;
        width: 100%;

        .bottom-background-rectangle {
          height: 100%;
          position: absolute;
          top: 466px;
          width: 100%;
        }

        .title {
          color: $light-green;
          font-weight: bold;
          font-size: 25px;
          line-height: 30px;
          margin: auto;
          position: absolute;
          text-align: center;
          bottom: 150px;
          width: 100%;
        }

        .register-fields {
          
          .back-button-icon {
            cursor: pointer;
            left: 10%;
            position: absolute;
            top: 45%;
            border: 2px solid #fff;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            font-size: 1.5em;
            width: 50px;
            height: 50px;
            animation: showToLeftBackButton 1s;
            -moz-animation: showToLeftBackButton 1s; /* Firefox */
            -webkit-animation: showToLeftBackButton 1s; /* Safari and Chrome */

            @keyframes showToLeftBackButton
            {
              from {left: 100%;}
              to {left: 10%;}
            }
            @-moz-keyframes showToLeftBackButton
            {
              from {left: 100%;}
              to {left: 10%;}
            }
            @-webkit-keyframes showToLeftBackButton
            {
              from {left: 100%;}
              to {left: 10%;}
            }


            .icon-left-arrow {
              line-height: 50px;
              margin-left: -3px;
            }
          }
          .main-icon {
            font-size: 3.2em;
            left: 40%;
            margin: auto;
            position: absolute;
            text-align: center;
            top: 35%;
            animation: showToLeftMainIcon 1s;
            -moz-animation: showToLeftMainIcon 1s; /* Firefox */
            -webkit-animation: showToLeftMainIcon 1s; /* Safari and Chrome */

            @keyframes showToLeftMainIcon
            {
              from {left: 100%;}
              to {left: 40%;}
            }
            @-moz-keyframes showToLeftMainIcon
            {
              from {left: 100%;}
              to {left: 40%;}
            }
            @-webkit-keyframes showToLeftMainIcon
            {
              from {left: 100%;}
              to {left: 40%;}
            }

            .main-icon-text {
              font-size: 0.6em;
              font-weight: bold;
            }
          }

          .register-field {
            position: absolute;
            bottom: 20px;
            font-size: 3em;
            text-align: center;
            margin: auto;
            width: 100%;

            #g-recaptcha > div {
              width: auto !important;
            }

            .register-field-icons {

              .register-field-icon {
                border: 3px solid #fff;
                border-radius: 20px;
                -moz-border-radius: 20px;
                -webkit-border-radius: 20px;
                color: #fff;
                cursor: pointer;
                display: inline-block;
                margin: 0 2%;
                padding: 8px 0;
                width: 24%;

                &.active {
                  background: #fff;
                  border-color: #fff;
                  color: #000;
                }

                .register-filed-icon-text {
                  font-size: 0.4em;
                  font-weight: bold;
                  line-height: 1.1;
                }
              }
            }

            .register-fields-continue {
              position: absolute;
              bottom: -100px;
              width: 100%;
              .title {
                bottom: 65px;
                font-size: 0.4em !important;
              }
              button {
                background: transparent;
                border: 2px solid #fff;
                color: #fff;
                font-size: 0.6em;
                height: 57px;
                line-height: 57px;
                min-width: 50%;
                text-transform: none;
              }
            }

            &.hide {
              right:100%;
              animation: hideToLeft 1s;
              -moz-animation: hideToLeft 1s; /* Firefox */
              -webkit-animation: hideToLeft 1s; /* Safari and Chrome */

              @keyframes hideToLeft
              {
                from {right: 0;}
                to {right:100%;}
              }
              @-moz-keyframes hideToLeft
              {
                from {right: 0;}
                to{right:100%;}
              }
              @-webkit-keyframes hideToLeft
              {
                from {right: 0;}
                to{right:100%;}
              }
            }
            &.show {
              bottom: 125px;
              right:0;
              animation: showToRight 1s;
              -moz-animation: showToRight 1s; /* Firefox */
              -webkit-animation: showToRight 1s; /* Safari and Chrome */

              @keyframes showToRight
              {
                from {right: 100%;}
                to {right:0;}
              }
              @-moz-keyframes showToRight
              {
                from {right: 100%;}
                to {right:0;}
              }
              @-webkit-keyframes showToRight
              {
                from {right: 100%;}
                to {right:0;}
              }
            }

            .list-block {
              ul {
                li {
                  .item-content {
                    width: 60%;
                    margin: auto;
                    .item-inner {
                      input {
                        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, $light-green 4%) -500px 0 no-repeat;
                        background-size: 100%;
                        text-align: center;
                        &:focus {
                          background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, $light-green 4%);
                        }
                      }
                    }
                  }
                }
              }
            }

            &.orientation-field {
              .orientation-text {
                font-size: 0.7em;
                font-weight: bold;
              }
              select {
                height: 50px;
                width: 130px;
                background: #fff;
                font-size: 0.5em;
                padding-left: 5px;
                border-radius: 5px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
              }
            }
            &.orientation-field {
              bottom: 50px;
            }
          }
          .register-field-detail {
            position: absolute;
            top: 60%;
            padding: 0 5%;
            z-index: 1111;
            width: 90%;
            animation: showFromRight 1s;
            -moz-animation: showFromRight 1s; /* Firefox */
            -webkit-animation: showFromRight 1s; /* Safari and Chrome */

            @keyframes showFromRight
            {
              from {left: 100%;}
              to {left:0;}
            }
            @-moz-keyframes showFromRight
            {
              from {left: 100%;}
              to{left:0;}
            }
            @-webkit-keyframes showFromRight
            {
              from {left: 100%;}
              to{left:0;}
            }
          }
          .register-field-detail-title {
            font-size: 2em;
          }
          .button-wrapper {
            display: inline-block;
            width: 40%;
            margin: 10px 4%;
            button {
              background: transparent;
              border: 2px solid $light-green;
              color: $light-green;
              height: 50px;
              font-size: 1.1em;
              text-transform: none;
              width: 100%;
            }

            &.active {
              button {
                background: $light-green;
                color: #fff;
              }
            }
          }
        }
      }

      .page#login-1-image {
        .bottom-background-rectangle {
          background: #010204;
        }
      }
      .page#login-2-image {
        .bottom-background-rectangle {
          background: #060b11;
        }
      }
      .page#login-3-image {
        .bottom-background-rectangle {
          background: #140e12;
        }
      }
    }
  }

  .access-buttons {
    position: absolute;
    bottom: 20px;
    font-size: 2.5em;
    text-align: center;
    margin: auto;
    width: 100%;
    z-index: 11;

    .register-access-button, .login-access-button {
      button {
        height: 50px;
        font-size: 0.6em;
        text-transform: none;
      }
    }
    .register-access-button {
      button {
        background: transparent;
        border: 2px solid $light-green;
        color: $light-green;
        width: 65%;
      }
    }
    .login-access-button {
      button {
        background: transparent;
        width: 100%;
      }
    }
  }

  .icon-spinner {
    font-size: 40px;
    margin-top: 9px;
    margin-left: -42px;
  }

  .nekuno-logo-wrapper {
    height: 120px;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 100;

    .nekuno-logo {
      background-size: 100% auto;
      height: 100%;
      margin: auto;
      position: relative;
    }
  }

  .hidden-content {
    right: 100%;
    animation: hideToLeft 1s;
    -moz-animation: hideToLeft 1s; /* Firefox */
    -webkit-animation: hideToLeft 1s; /* Safari and Chrome */

    @keyframes hideToLeft
    {
      from {right: 0;}
      to {right:100%;}
    }
    @-moz-keyframes hideToLeft
    {
      from {right: 0;}
      to{right:100%;}
    }
    @-webkit-keyframes hideToLeft
    {
      from {right: 0;}
      to{right:100%;}
    }
  }

  .vertical-hidden-content {
    bottom: 200% !important;
    transition: all 1s;
  }
}
.views .popup {
  margin-top: 0;
  overflow-y: visible;

  .content-block {
    margin: 0;

    .profile-field .chip {
      margin: 5px;
    }
  }

  &.popup-detail {
    padding-top: 100px;

    .rc-slider {
      width: 75%;
      margin: auto;
    }
    .button-big {
      margin-top: 100px;
    }
  }
}

// Default pixel ratio (1)
@media only screen and (max-width: 320px) {
  body #root .App .view.home-view .nekuno-logo-wrapper .nekuno-logo {
    background: url('img/logo-160x84.png') no-repeat;
    width: 160px;
  }
  body #root .App .views .view.home-view .swiper-container .swiper-slide {
    .page#login-1-image, .page#login-2-image, .page#login-3-image {
      background-position: top;
      .title {
        font-size: 1.1em !important;
        line-height: 25px !important;
      }

      .register-fields {
        .register-field {
          bottom: 10px;
          .register-field-icons {
            .register-field-icon {
              .register-filed-icon-text {
                font-size: 0.32em;
              }
            }
          }
        }
      }
    }
  }

  body #root .App .page#login-1-image {
    background: url('img/login/1-320x569.jpg') no-repeat center;
    background-size: 320px auto !important;
  }
  body #root .App .page#login-2-image {
    background: url('img/login/2-320x569.jpg') no-repeat center;
    background-size: 320px auto !important;
  }
  body #root .App .page#login-3-image {
    background: url('img/login/3-320x569.jpg') no-repeat center;
    background-size: 320px auto !important;
  }
}

@media only screen and (max-height: 500px) {
  body #root .App .views .view.home-view .swiper-container .swiper-slide {
    .page#login-1-image, .page#login-2-image, .page#login-3-image {
      .title {
        display: none;
      }
    }
  }
  body #root .App .views .view.home-view .bottom-layer .swiper-pagination-and-button {
    bottom: -90px;
  }
}
@media only screen and (min-height: 600px) {
  body #root .App .views .view.home-view {
    .access-buttons {
      bottom: 40px;
    }
    .swiper-container .swiper-slide {
      .page#login-1-image, .page#login-2-image, .page#login-3-image {
        .title {
          bottom: 180px;
        }
        .register-fields .register-field {
          bottom: 30px;

          &.show {
            bottom: 150px;
            .register-fields-continue {
              bottom: -120px;

              .title {
                bottom: 65px;
              }
            }
          }
        }
      }
    }
  }
  body #root .App .views .view.home-view .bottom-layer .swiper-pagination-and-button {
    bottom: 50px;
  }
}
@media only screen and (min-height: 750px) {
  body #root .App .views .view.home-view .swiper-container .swiper-slide {
    .page#login-1-image, .page#login-2-image, .page#login-3-image {
      background-position: top;
      .title {
        bottom: 200px;
      }
      .register-fields .register-field {
        &.show {
          bottom: 200px;
          .register-fields-continue {
            bottom: -140px;

            .title {
              bottom: 85px;
            }
          }
        }
      }
    }
  }
  body #root .App .views .view.home-view .bottom-layer .swiper-pagination-and-button {
    bottom: 80px;
  }
}
@media only screen and (min-height: 800px) {
  body #root .App .views .view.home-view .swiper-container .swiper-slide {
    .page#login-1-image, .page#login-2-image, .page#login-3-image {
      background-position: top;
      .title {
        bottom: 230px;
      }
    }
  }
  body #root .App .views .view.home-view .bottom-layer .swiper-pagination-and-button {
    bottom: 130px;
  }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
  .nekuno-logo {
    background: url('img/logo-160x84.png') no-repeat;
    width: 160px;
  }
  body #root .App .views .view.home-view {
    max-height: 1000px;
    .swiper-container .swiper-slide {
      .page#login-1-image, .page#login-2-image, .page#login-3-image {
        .title {
          font-size: 1.5em;
          line-height: 30px;
        }
        .bottom-background-rectangle {
          top: 700px !important;
        }
        .register-fields {
          .register-field {
            .register-field-icons {
              .register-field-icon {
                .register-filed-icon-text {
                  font-size: 0.35em;
                }
              }
            }
          }
        }
      }
    }

    .bottom-layer .swiper-pagination-and-button {
      .title {
        font-size: 2em;
      }
      .slider-buttons {
        font-size: 3.1em;
      }
    }
  }

  body #root .App .page#login-1-image {
    background: url('img/login/1-480x854.jpg') no-repeat center;
    background-size: 480px auto !important;
  }
  body #root .App .page#login-2-image {
    background: url('img/login/2-480x854.jpg') no-repeat center;
    background-size: 480px auto !important;
  }
  body #root .App .page#login-3-image {
    background: url('img/login/3-480x854.jpg') no-repeat center;
    background-size: 480px auto !important;
  }
}
@media only screen and (min-width: 481px) {
  body #root .App .views .view.home-view {
    max-height: 1100px;

    .swiper-container .swiper-slide {
      .page#login-1-image, .page#login-2-image, .page#login-3-image {
        .bottom-background-rectangle {
          top: 700px !important;
        }
      }
    }

    .bottom-layer .swiper-pagination-and-button {
      .title {
        font-size: 2.3em;
      }
      .slider-buttons {
        font-size: 3.2em;
      }
    }
  }

  body #root .App .view .nekuno-logo {
    background: url('img/logo-250x132.png') no-repeat;
    width: 175px;
  }
  body #root .App .page#login-1-image {
    background: url('img/login/1-750x1334.jpg') no-repeat;
    background-size: 750px auto;
  }
  body #root .App .page#login-2-image {
    background: url('img/login/2-750x1334.jpg') no-repeat;
    background-size: 750px auto;
  }
  body #root .App .page#login-3-image {
    background: url('img/login/3-750x1334.jpg') no-repeat;
    background-size: 750px auto;
  }
}

@media only screen and (min--moz-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3/2),
(-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5) {

  @media only screen and (max-width: 212px) {
    .nekuno-logo {
      background: url('img/logo-107x56.png') no-repeat;
    }
    body #root .App .page#login-1-image {
      background: url('img/login/1-320x569.jpg') no-repeat;
    }
    body #root .App .page#login-2-image {
      background: url('img/login/2-320x569.jpg') no-repeat;
    }
    body #root .App .page#login-3-image {
      background: url('img/login/3-320x569.jpg') no-repeat;
    }
  }
  @media only screen and (min-width: 213px) and (max-width: 320px) {
    .nekuno-logo {
      background: url('img/logo-160x84.png') no-repeat;
    }
    body #root .App .page#login-1-image {
      background: url('img/login/1-480x854.jpg') no-repeat;
    }
    body #root .App .page#login-2-image {
      background: url('img/login/2-480x854.jpg') no-repeat;
    }
    body #root .App .page#login-3-image {
      background: url('img/login/3-480x854.jpg') no-repeat;
    }
  }
  @media only screen and (min-width: 321px) {
    .nekuno-logo {
      background: url('img/logo-250x132.png') no-repeat;
    }
    body #root .App .page#login-1-image {
      background: url('img/login/1-750x1334.jpg') no-repeat;
    }
    body #root .App .page#login-2-image {
      background: url('img/login/2-750x1334.jpg') no-repeat;
    }
    body #root .App .page#login-3-image {
      background: url('img/login/3-750x1334.jpg') no-repeat;
    }
  }
}

@media only screen and (min--moz-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 4/2),
(-webkit-min-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2) {

  @media only screen and (max-width: 240px) {
    .nekuno-logo {
      background: url('img/logo-160x84.png') no-repeat;
    }
    body #root .App .page#login-1-image {
      background: url('img/login/1-480x854.jpg') no-repeat;
    }
    body #root .App .page#login-2-image {
      background: url('img/login/2-480x854.jpg') no-repeat;
    }
    body #root .App .page#login-3-image {
      background: url('img/login/3-480x854.jpg') no-repeat;
    }
  }
  @media only screen and (min-width: 241px) {
    .nekuno-logo {
      background: url('img/logo-250x132.png') no-repeat;
    }
    body #root .App .page#login-1-image {
      background: url('img/login/1-750x1334.jpg') no-repeat;
    }
    body #root .App .page#login-2-image {
      background: url('img/login/2-750x1334.jpg') no-repeat;
    }
    body #root .App .page#login-3-image {
      background: url('img/login/3-750x1334.jpg') no-repeat;
    }
  }
}
