@import '../_partials/colors';

body #root .App .views .view.home-view {
  background: $purple-main;
  overflow: hidden;

  .home-wrapper {
    height: 100%;
    padding: 16px;

    .nekuno-logo-wrapper {
      height: 35px;
      width: 100%;
      position: relative;
      .nekuno-logo {
        background: url('/img/white-logo.png') no-repeat;
        background-size: 100% auto;
        height: 100px;
        width: 30%;
        position: absolute;
        right: 16px;
      }
    }

    .swiper-container {
      cursor: pointer;
      padding: 24px 24px 0 24px;

      .swiper-slide {
        height: 100%;
        text-align: center;

        .login-image {
          margin-top: 24px;
          text-align: center;
          img {
            margin: auto;
            width: 75%;
          }
        }

        h3 {
          font-weight: normal;
        }
      }

      .slick-dots {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;

        li {
          display: inline-block;
          margin: 0;

          .dot {
            background-color: #fff;
            border: 8px solid rgba(255, 255, 255, 0);
            background-clip: padding-box;
            border-radius: 50%;
            display: inline-block;
            height: 4px;
            width: 4px;
          }
          &.slick-active {
            .dot {
              border: 8px solid rgba(255, 255, 255, 0.2);
            }
          }
        }
      }
    }
    .skip-wrapper {
      cursor: pointer;
      font-weight: bold;
      text-align: right;
      z-index: 111;
      position: absolute;
      width: 100%;
      bottom: 24px;
      right: 24px;
    }
  }
}