@import '../_partials/colors';

body #root .App .views {

  #interests-view-main{
    overflow-y: hidden;
  }

  .view .page.interests-page #page-content {
    width: 100%;

    .filter-area {
      padding: 1px 0;
      .switch-state {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px;
        padding: 8px 0 8px;
        text-align: center;
        &.expanded {
          padding-top: 24px 0 24px;
        }
        .status {
        }
        .icon {
          color: $deep-purple;
        }
      }
    }

    .content-list {
      .infinite-column {
        display: flex;
        padding: 8px 12px 0;
        justify-content: center;
      }
      .card, .filler {
        margin: 0 4px;
        flex: 1;
        flex-basis: 0;
      }
      .filler {
        visibility: hidden;
      }
    }
    .content-carousel .swiper-slide {
      width: 275px;
    }
    .contents-empty {
      text-align: center;
      margin-top: 30%;
    }
  }
}