body #root .App .views {

  #interests-view-main{
    overflow-y: hidden;
  }

  .view .page.interests-page #page-content {
    margin: 65px auto 0 auto;
    width: 100%;

    .content-list {
      .card {
        display: inline-block;
        margin: 5px 1% 5px 1%;
        width: 48%;
      }
    }
    .content-carousel .swiper-slide {
      width: 275px;
    }
    .contents-empty {
      text-align: center;
      margin-top: 30%;
    }
  }
}