body #root .App .view .page #page-content.login-content {
  margin: 100px auto 0 auto;

  .recover-password {
    text-align: center;
    margin-bottom: 20px;
  }
  .button {
    margin-bottom: 10px;
  }
  .register-text-block {
    height: 50px;
    text-align: center;
    .register-text {
      cursor: pointer;
      display: inline-block;
      margin: 0 5px 10px;
      vertical-align: middle;
      //width: 35%; Uncomment to enable login as guest link styles

      a {
        font-weight: bold;
      }
    }
  }
}

@media only screen and (max-width: 300px) {
  body #root .App .view .page #page-content.login-content {
    margin-left: 20px;
    width: 75%;
  }
}