@import "../_partials/colors";

body #root .App .view .page.notifications-page  {
  background: #fff;
  height: inherit;

  #page-content {
    background: #fff;
    padding: 10px 0 10px 0;
    width: 100%;

    hr {
      opacity: 0.2;
    }
  }
}

@media only screen and (max-width: 300px) {
  body #root .App .view .page.notifications-page {
    width: 90%;
  }
}