body #root .App .view .page.other-interests-page  {
  #page-content {
    margin: 60px auto 0 auto;
    width: 98%;

    .profile-avatars-connection {
      margin: 50px auto 10px auto;
      text-align: center;
    }

    .title {
      margin-bottom: 10px;
    }

    .common-content-switch {
      margin: auto;
      width: 75%;

      .text-radios {
        padding: 5px 0 35px 0;

        .chip {
          width: 49%;
        }
      }
    }
    .card {
      display: inline-block;
      margin: 5px 1% 5px 1%;
      width: 48%;
    }
  }
}