body #root .App .view .page.other-interests-page  {
  #page-content {
    background: url('img/provisional-screens/other-interests_coming_soon.jpg') no-repeat;
    background-size: 100% auto;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}