body #root .App .views .view .page {
  #page-content.gallery-photo-content {
    text-align: center;
    width: 93%;
    .swiper-custom {
      height: 100%;
      position: relative;
      .photo-absolute-wrapper {
        img {
          max-width: 100%;
        }
      }
    }
  }
}

