@import '../_partials/colors';

body #root .App .view .page.other-questions-page  {
  #page-content {
    width: 100% !important;
    .other-questions-header-container {
      padding-top: 20px;
      text-align: center;

      .other-questions-stats-title {
        padding-top: 10px;
        padding-bottom: 20px;

        .spinner-wrapper {
          font-size: 0.2em;
          display: inline-block;
          margin: auto 5px;
        }
      }
    }
    .question-list {
      width:85%;
      margin-left:7.5%;
      margin-top: 20px;

      .question {
        margin-bottom: 15px;

        .question-title {
          font-weight: bold;
          margin-bottom: 10px;
          width: 85%;
        }
        a {
          color: #fff;

          .edit-question-button {
            background-color: $deep-purple;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            display: block;
            float: right;
            height: 30px;
            line-height: 30px;
            text-align: center;
            width: 30px;

            .icon-edit:before {
              font-size: 14px;
              line-height: 30px;
            }
          }
        }
        .answer-answered, .answer-not-answered {
          .answer-answered-picture, .answer-not-answered-picture {
            background-color: #fff;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            display: inline-block;
            height: 22px;
            margin: 5px 10px 0 0;
            text-align: center;
            width: 22px;

            img {
              border-radius: 50%;
              -moz-border-radius: 50%;
              -webkit-border-radius: 50%;
              height: 20px;
              margin-top: 1px;
              width: 20px;
            }
          }

          .answer-answered-text, .answer-not-answered-text {
            display: inline-block;
            margin-top: -8px;
            vertical-align: text-top;
            max-width: 80%;
          }
        }

        hr {
          background-color: $deep-purple;
          border: none;
          height: 1px;
          margin-top: 15px;
        }
      }
      &.not-answered-questions-title {
        font-size: 1.6em;

        .description {
          font-size: 0.7em;
        }
      }
      &.not-answered {

      }
      .chip {
        cursor: pointer;
        margin: 20px 0;
      }
    }
  }
}