@import '../_partials/colors';

body #root .App .views .view.persons-filter-view {
  background: $white-background;
  color: $gray-main-text;
  position: relative;
  text-align: left;

  .persons-filter-wrapper {
    margin-top: 24px;
    padding: 0 8px;
  }
}