@import '../_partials/colors';

body #root .App .views .view.persons-view {
  background: $white-background;
  color: $gray-main-text;
  text-align: left;

  .persons-wrapper {
    margin-top: 24px;
    padding: 0 16px;

    h1 {
      display: inline-block;
      width: 75%;
    }
    .view-all {
      display: inline-block;
      color: $purple-main;
      cursor: pointer;
      font-weight: bold;
      text-align: right;
      width: 25%;
    }

    .persons {
      position: relative;
      width: 100%;

      .person {

        &.person-1 {
        }
        &.person-2 {
          position: absolute;
          width: 100%;
          top: 0;
          left: 60%;
        }
      }
    }
    .groups-persons-title {
      font-weight: 600;
      margin: 32px 12px 16px;
    }
  }
}