@import '../_partials/colors';

body #root .App .views .view.persons-all-view {
  background: $white-background;
  color: $gray-main-text;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: left;

  .persons-all-wrapper {
    height: 100%;
    top: 0;
    position: absolute;
    margin-top: 105px;
    width: 100%;

    .persons {
      height: 100%;
      position: relative;
      width: 100%;

      .person {
        display: inline;
      }
    }
  }
  .filters-button {
    position: absolute;
    right: 100px;


    .filters-button-fixed {
      bottom: 8px;
      position: fixed;
    }
  }
}