@import '../_partials/colors';

body #root .App .views .view.proposals-project-skills-view {
  color: $gray-main-text;
  text-align: center;
  z-index: 0;

  .proposals-project-skills-wrapper {
    h2 {
      padding: 0 24px;
    }
  }
}