@import '../_partials/colors';

body #root .App .views .view.proposals-project-basic-view {
  color: $gray-main-text;
  text-align: center;
  z-index: 0;

  .proposals-project-basic-wrapper {
    h2 {
      padding: 0 24px;
    }
    .image-wrapper {
      padding: 0 24px;
      img {
        width: 100%;
      }
    }
  }
}

//body #root .App .views .view.proposals-introduction-view {
//  background: $blue-projects;
//  text-align: center;
//  overflow: hidden;
//
//  .proposals-introduction-wrapper {
//    height: 100%;
//    margin-top: 50px;
//
//    .image-wrapper {
//      padding: 0 24px;
//      text-align: center;
//
//      img {
//        width: 75%;
//      }
//    }
//
//    h1, .resume {
//      padding: 0 24px;
//    }
//
//    .resume {
//      margin-bottom: 32px;
//    }
//  }
//}