@import '../_partials/colors';

body #root .App .views .view.proposals-view {
  background-color: $background;
  color: $gray-main-text;
  text-align: center;
  overflow-y: hidden;

  .proposals-wrapper {
    // min-height: 100vh;
    margin: 24px auto;

    .proposal {
    }
  }
}