@import '../_partials/colors';

body #root .App .views .view.proposals-view {
  background: $white-background;
  color: $gray-main-text;
  text-align: center;

  .proposals-wrapper {
    height: 82%;
    margin: 24px auto;

    .proposal {
    }
  }
}