@import '../_partials/colors';

body #root .App .view .page.questions-page  {
  #page-content {
    .answer-questions-link-container {
      background-color: $deep-purple;
      left: 0;
      max-width: 480px;
      min-width: 320px;
      padding: 10px 5%;
      position: absolute;
      right: 0;
      text-align: center;

      a {
        color: white;

        .answer-questions-link-title {
          font-size: 1.428571429em;
          font-weight: bold;
        }

        .answer-questions-link-stats {
          font-size: 0.857142857em;
          margin-top: 10px;

          p {
            margin: 0;
          }
        }
        .answer-questions-link-picture {
          float: right;
          max-height: 45px;
          margin-bottom: -90px;
          margin-top: -35px;
          overflow: hidden;
          width: 90px;
          -webkit-backface-visibility: hidden;

          img {
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            width: 90px;
          }

        }
      }
    }
    .question-list {
      margin-top: 20px;

      .question {
        margin-bottom: 15px;

        .question-title {
          font-weight: bold;
          width: 85%;
        }
        .edit-question-button {
          background-color: $deep-purple;
          border-radius: 50%;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          float: right;
          font-size: 10px;
          height: 22px;
          line-height: 24px;
          text-align: center;
          width: 22px;

          a {
            color: #fff;
          }
        }
        .answer-answered, .answer-not-answered {
          .answer-answered-picture, .answer-not-answered-picture {
            background-color: #fff;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            display: inline-block;
            height: 22px;
            margin: 10px 10px 10px 0;
            text-align: center;
            width: 22px;

            img {
              border-radius: 50%;
              -moz-border-radius: 50%;
              -webkit-border-radius: 50%;
              height: 20px;
              margin-top: 1px;
              width: 20px;
            }
          }

          .answer-not-answered-picture {
            opacity: 0.5;

            img {
              opacity: 0.5;
            }
          }

          .answer-answered-text, .answer-not-answered-text {
            display: inline-block;
            margin-top: -8px;
            vertical-align: text-top;
            width: 82%;
          }
        }

        .question-stats {
          margin-top: 10px;
          text-align: center;

          .question-stats-graph-title {
            color: $pink;
            font-weight: bold;
            margin-bottom: 15px;
          }
          .community-question-stats {
            .female-answer-chart-container, .male-answer-chart-container {
              display: inline-block;
              height: 100px;
              width: 100px;

              canvas {
                height: 100px;
                width: 100px;
              }
              .genre-icon {
                color: $deep-purple;
                margin-top: -70px;
              }
              .icon-female {
                font-size: 1.1em;
                margin-top: -70px;
              }
              .genre-text {
                font-size: 0.8em;
              }
            }
            .female-answer-chart-container {
              margin-right: 5%;
            }
            .male-answer-chart-container {

            }
          }
          .answers-colors {
            text-align: left;

            .answer-color {
              .icon-circle {
                font-size: 9px;
                line-height: 16px;
              }
              .answer {
                display: inline-block;
                margin-left: 5px;
                overflow: hidden;
                text-overflow: ellipsis;
                vertical-align: bottom;
                width: 95%;
                white-space: nowrap;
              }
            }

            hr {
              background-color: $light-gray;
              border: none;
              color: $light-gray;
              height: 1px;
              width: 10%;
              max-width: 10%;
              margin: 20px 0 15px 0;
            }
          }
        }

        hr {
          background-color: $deep-purple;
          border: none;
          height: 1px;
          margin-top: 15px;
        }
      }
    }
  }
}