@import '../_partials/colors';

body #root .App {

  .view .page {
    #page-content.recommendation-page {
      margin-top: 70px !important;
      width: 100% !important;

      .recommendation-content {
        text-align: center;

        .thread-title {
          line-height: 30px;
          margin: 0 auto 10px auto;
          width: 75%;
        }

        .chip-list {
          margin: auto;
          max-width: 85%;
        }
        .recommendation-list {

          .swiper-slide {
            background-color: $dark-purple;
            width: 275px;
          }

          .swiper-slide-prev, .swiper-slide-next {
            z-index: 1;

            .recommendation {

              .card {
                opacity: 0.5;

                .card-header {

                }
              }
            }
          }
          .recommendation {
            margin: 25px auto 0;
          }
        }
      }

      .recommendation-users {
        text-align: center;

        .chip-list {
          margin: auto;
          max-width: 85%;
        }
        .recommendation-list {

          .swiper-slide {
            background-color: $dark-purple;
            width: 100%;
          }
          .user-images {
            height: 250px;
            overflow: hidden;
            width: 100%;
            .user-images-wrapper {
              height: 400px;
              margin-top: -75px;
              width: 100%;
              img {
                margin: auto;
                width: 100%;
              }
            }
          }
          .username-title {
            font-size: 2em;

          }
          .send-message-button {
            margin: 10px 0 0 20px;
          }
          .user-description {
            margin-top: 10px;

            .similarity {
              font-weight: bold;
            }
          }
        }
          .recommendation {
            margin: 25px auto 0;
          }
      }

      .loading {
        margin: 100px auto;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 300px) {
  body #root .App .view .page #page-content.recommendation-page {
    margin-left: -10px;
    width: 95%;
  }
}