@import '../_partials/colors';

body #root .App {

  .view .page {
    #page-content.recommendation-page {
      margin-top: 70px !important;
      width: 100% !important;

      .recommendation-content {
        text-align: center;

        .thread-title {
          line-height: 30px;
          margin: 0 auto 10px auto;
          width: 75%;
        }

        .chip-list {
          margin: auto;
          max-width: 85%;
        }
        .recommendation-list {

          .swiper-slide {
            background-color: $dark-purple;
            width: 275px;
          }

          .swiper-slide-prev, .swiper-slide-next {
            z-index: 1;

            .recommendation {

              .card {
                opacity: 0.5;

                .card-header {

                }
              }
            }
          }
          .recommendation {
            margin: 25px auto 0;
          }
        }
      }

      .loading {
        margin: 100px auto;
        text-align: center;
      }
    }
  }
}