@import '../_partials/colors';

body #root .App .views .view .page.register-question-landing-page {
  #page-content.register-question-landing {
    margin: 30px auto 0 auto;

    .register-question-landing-button {
      margin: 20px auto;
      width: 90%;
    }

    #register-question-landing-image {
      background: url('../img/register-questions-landing-transparent.png');
      background-size: 100% auto;
      background-repeat: no-repeat;
      height: 300px;
      margin: 25px auto 0 auto;
      width: 300px;
    }

    .user-image-wrapper {
      margin-top: -186px;
      margin-bottom: 158px;
    }
  }
}


@media only screen and (max-width: 300px) {
  body #root .App .view .page.register-question-landing-page {
    width: 85%;

    #page-content.register-question-landing {
      #register-question-landing-image {
        width: 250px;
      }
      .user-image-wrapper {
        margin-left: 94px;
        margin-top: -211px;
      }
    }
  }
}

@media only screen and (min-width: 301px) and (max-width: 350px) {
  body #root .App .view .page.register-question-landing-page {
    #page-content.register-question-landing {
      .user-image-wrapper {
        margin-left: 118px;
      }
    }
  }
}
