@import '../_partials/colors';

body #root .App .views .view .page {
  .gradient-transparency {
    background-image: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.5) 100%);
    height: 100%;
    opacity: 0.9;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
  #page-content.register-content {
    margin: 100px auto 0 auto;
  }

  .register-title {
    text-align: center;

    a {
      color: $deep-purple;
    }

  }
  
  .register-sub-title {
    margin-top: 10px;
    text-align: center;
  }
}

@media only screen and (max-width: 300px) {
  body #root .App .view .page #page-content.register-content {
    margin-left: 20px;
    width: 75%;
  }
}