@import '../_partials/colors';

body #root .App .view .page #page-content.register-join-content {
  margin: 150px auto 0 auto;

  .list-block {
    ul.checkbox-genders-list {
      display: inline-table;
      padding: 0 2.5%;
      width: 45%;

      li {
        .label-checkbox {
          .item-inner {
            .item-title {
              width: 80%;
            }
          }
        }
        &::after {
          content: none;
        }
      }
      .active-state {
        background-color: transparent;
      }
    }
  }

  .privacy-terms-text {
    text-align: center;
    a {
      color: $deep-purple;
    }
  }
}


@media only screen and (max-width: 300px) {
  body #root .App .view .page #page-content.register-join-content {
    margin-left: -10px;
    width: 95%;
  }
}