@import '../_partials/colors';

body #root .App .view .page.threads-page  {
  #page-content {
    margin-top: 70px;

    .threads-vertical-connection {
      background-color: $deep-purple;
      height: 95%;
      margin-left: 40.5px;
      margin-top: 40.5px;
      position: absolute;
      width: 1px;
      z-index: 1;
    }
    .thread-listed {
      margin: 35px auto;
      .thread-first-image {
        background-color: $deep-purple;
        border-radius: 50%;
        display: inline-block;
        height: 81px;
        position: relative;
        text-align: center;
        width: 81px;
        z-index: 10;

        img {
          border-radius: 50%;
          height: 75px;
          margin-top: 3px;
          width: 75px;
        }
      }

      .threads-opposite-vertical-connection {
        background: $dark-purple;
        height: 250px;
        margin-left: 40.5px;
        margin-top: 40.5px;
        position: absolute;
        width: 2px;
        z-index: 2;
      }

      .thread-info-box {
        display: inline-block;
        margin-left: 15px;
        max-width: 75%;
        vertical-align: top;

        @media only screen and (max-width: 500px) {
          max-width: 63%;
        }

        .thread-title {
          line-height: 30px;
          text-align: left;
          
          a {
            color: #fff;
          }
        }

        .thread-images {

          .thread-image {
            background-color: #fff;
            border-radius: 50%;
            display: inline-block;
            height: 32px;
            margin: 10px 10px 10px 0px;
            text-align: center;
            width: 32px;

            img {
              border-radius: 50%;
              height: 30px;
              margin-top: 1px;
              width: 30px;
            }
          }
        }

        .recommendations-count {
          line-height: 20px;
        }
      }
    }
  }
}