@import '../_partials/colors';

body #root .App .view .page.threads-page  {
  #page-content {
    margin-top: 70px;

    .threads-vertical-connection {
      background-color: $deep-purple;
      height: 95%;
      margin-left: 40.5px;
      margin-top: 40.5px;
      position: absolute;
      width: 1px;
      z-index: 1;
    }
    .thread-listed {
      margin: 35px auto;
      .thread-first-image-wrapper {
        background-color: $deep-purple;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        display: inline-block;
        height: 81px;
        position: relative;
        text-align: center;
        width: 81px;
        z-index: 10;

        .thread-first-image-centered-wrapper {
          border-radius: 50%;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          margin: 3px;
          position: relative;
          height: 75px;
          overflow: hidden;
          .thread-first-image {
            margin-left: -62px;
            position: absolute;
            width: 200px;
            height: 75px;
            img {
              height: 76px;
              margin: auto;
            }
          }
        }
      }

      .threads-opposite-vertical-connection {
        background: $dark-purple;
        height: 250px;
        margin-left: 40.5px;
        margin-top: 40.5px;
        position: absolute;
        width: 2px;
        z-index: 2;
      }

      .thread-info-box {
        display: inline-block;
        margin-left: 15px;
        max-width: 75%;
        vertical-align: top;

        @media only screen and (max-width: 500px) {
          max-width: 63%;
        }

        .thread-title {
          line-height: 30px;
          text-align: left;
          
          a {
            color: #fff;
          }
        }

        .thread-images {
          .thread-image-wrapper {
            background-color: #fff;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            display: inline-block;
            height: 32px;
            margin: 10px 10px 10px 0;
            position: relative;
            text-align: center;
            width: 32px;
            z-index: 10;

            .thread-image-centered-wrapper {
              border-radius: 50%;
              -moz-border-radius: 50%;
              -webkit-border-radius: 50%;
              margin: 1px;
              position: relative;
              height: 30px;
              overflow: hidden;

              .thread-image {
                margin-left: -10px;
                position: absolute;
                width: 50px;
                height: 30px;
                img {
                  height: 30px;
                  margin: auto;
                }
              }
            }
          }
        }

        .recommendations-count {
          line-height: 20px;
        }
      }
    }
  }
}