@import '../_partials/colors';

body #root .App .view .page.threads-page  {
  #page-content {
    margin-top: 70px;
    width: 100%;

    .thread-odd, .thread-even {
      position: relative;

      .thread-background-image-wrapper {
        background-color: #000;
        height: 100%;
        overflow: hidden;
        position: absolute;
        width: 100%;
        z-index: -1;

        .thread-background-image {
          background-size: 100% auto !important;
          height: 120%;
          margin: -5% 0 0 -10%;
          overflow: hidden;
          width: 120%;
          /* A circled shadow around background image
          -webkit-box-shadow: inset 0 0 200px #000000;
          -moz-box-shadow: inset 0 0 200px #000000;
          box-shadow: inset 0 0 200px #000000;*/

          &.thread-background-0 {
            -webkit-box-shadow: inset 0 0 200px $material-red;
            -moz-box-shadow: inset 0 0 200px $material-red;
            box-shadow: inset 0 0 200px $material-red;
          }
          &.thread-background-1 {
            -webkit-box-shadow: inset 0 0 200px $material-pink;
            -moz-box-shadow: inset 0 0 200px $material-pink;
            box-shadow: inset 0 0 200px $material-pink;
          }
          &.thread-background-2 {
            -webkit-box-shadow: inset 0 0 200px $material-purple;
            -moz-box-shadow: inset 0 0 200px $material-purple;
            box-shadow: inset 0 0 200px $material-purple;
          }
          &.thread-background-3 {
            -webkit-box-shadow: inset 0 0 200px $material-deep-purple;
            -moz-box-shadow: inset 0 0 200px $material-deep-purple;
            box-shadow: inset 0 0 200px $material-deep-purple;
          }
          &.thread-background-4 {
            -webkit-box-shadow: inset 0 0 200px $material-indigo;
            -moz-box-shadow: inset 0 0 200px $material-indigo;
            box-shadow: inset 0 0 200px $material-indigo;
          }
          &.thread-background-5 {
            -webkit-box-shadow: inset 0 0 200px $material-blue;
            -moz-box-shadow: inset 0 0 200px $material-blue;
            box-shadow: inset 0 0 200px $material-blue;
          }
          &.thread-background-6 {
            -webkit-box-shadow: inset 0 0 200px $material-light-blue;
            -moz-box-shadow: inset 0 0 200px $material-light-blue;
            box-shadow: inset 0 0 200px $material-light-blue;
          }
          &.thread-background-7 {
            -webkit-box-shadow: inset 0 0 200px $material-cyan;
            -moz-box-shadow: inset 0 0 200px $material-cyan;
            box-shadow: inset 0 0 200px $material-cyan;
          }
          &.thread-background-8 {
            -webkit-box-shadow: inset 0 0 200px $material-teal;
            -moz-box-shadow: inset 0 0 200px $material-teal;
            box-shadow: inset 0 0 200px $material-teal;
          }
          &.thread-background-9 {
            -webkit-box-shadow: inset 0 0 200px $material-green;
            -moz-box-shadow: inset 0 0 200px $material-green;
            box-shadow: inset 0 0 200px $material-green;
          }
          &.thread-background-10 {
            -webkit-box-shadow: inset 0 0 200px $material-light-green;
            -moz-box-shadow: inset 0 0 200px $material-light-green;
            box-shadow: inset 0 0 200px $material-light-green;
          }
          &.thread-background-11 {
            -webkit-box-shadow: inset 0 0 200px $material-lime;
            -moz-box-shadow: inset 0 0 200px $material-lime;
            box-shadow: inset 0 0 200px $material-lime;
          }
          &.thread-background-12 {
            -webkit-box-shadow: inset 0 0 200px $material-yellow;
            -moz-box-shadow: inset 0 0 200px $material-yellow;
            box-shadow: inset 0 0 200px $material-yellow;
          }
          &.thread-background-13 {
            -webkit-box-shadow: inset 0 0 200px $material-amber;
            -moz-box-shadow: inset 0 0 200px $material-amber;
            box-shadow: inset 0 0 200px $material-amber;
          }
          &.thread-background-14 {
            -webkit-box-shadow: inset 0 0 200px $material-orange;
            -moz-box-shadow: inset 0 0 200px $material-orange;
            box-shadow: inset 0 0 200px $material-orange;
          }
          &.thread-background-15 {
            -webkit-box-shadow: inset 0 0 200px $material-deep-orange;
            -moz-box-shadow: inset 0 0 200px $material-deep-orange;
            box-shadow: inset 0 0 200px $material-deep-orange;
          }
          &.thread-background-16 {
            -webkit-box-shadow: inset 0 0 200px $material-brown;
            -moz-box-shadow: inset 0 0 200px $material-brown;
            box-shadow: inset 0 0 200px $material-brown;
          }
          &.thread-background-17 {
            -webkit-box-shadow: inset 0 0 200px $material-grey;
            -moz-box-shadow: inset 0 0 200px $material-grey;
            box-shadow: inset 0 0 200px $material-grey;
          }
          &.thread-background-18 {
            -webkit-box-shadow: inset 0 0 200px $material-grey;
            -moz-box-shadow: inset 0 0 200px $material-grey;
            box-shadow: inset 0 0 200px $material-grey;
          }
          &.thread-background-19 {
            -webkit-box-shadow: inset 0 0 200px $material-blue-grey;
            -moz-box-shadow: inset 0 0 200px $material-blue-grey;
            box-shadow: inset 0 0 200px $material-blue-grey;
          }
        }
      }
    }
    .thread-odd {
      //background: $deep-purple-translucent;
    }
    .thread-listed {
      margin: 0 auto;
      padding: 30px 7.5%;
      position: relative;
      .thread-first-image-wrapper {
        background-color: #fff;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        display: inline-block;
        height: 81px;
        position: relative;
        text-align: center;
        width: 81px;
        z-index: 11;

        .thread-first-image-centered-wrapper {
          border-radius: 50%;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          margin: 3px;
          position: relative;
          height: 75px;
          overflow: hidden;
          .thread-first-image {
            margin-left: -62px;
            position: absolute;
            width: 200px;
            height: 75px;
            img {
              min-height: 86px;
              margin: -5px auto;
              width: 52%;
            }
          }
        }
      }

      .thread-vertical-connection {
        background: #fff;
        height: 100%;
        margin-left: 40.5px;
        float: left;
        position: absolute;
        width: 1px;
        z-index: 1;
      }

      .thread-info-box {
        display: inline-block;
        margin-left: 15px;
        max-width: 75%;
        vertical-align: top;

        @media only screen and (max-width: 500px) {
          max-width: 63%;
        }

        .thread-title {
          line-height: 30px;
          text-align: left;
          
          a {
            color: #fff;
          }
        }

        .thread-images {
          .thread-image-wrapper {
            background-color: #fff;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            display: inline-block;
            height: 32px;
            margin: 10px 10px 10px 0;
            position: relative;
            text-align: center;
            width: 32px;
            z-index: 10;

            .thread-image-centered-wrapper {
              border-radius: 50%;
              -moz-border-radius: 50%;
              -webkit-border-radius: 50%;
              margin: 1px;
              position: relative;
              height: 30px;
              overflow: hidden;

              .thread-image {
                margin-left: -10px;
                position: absolute;
                width: 50px;
                height: 30px;
                img {
                  height: 30px;
                  margin: auto;
                }
              }
            }
          }
        }

        .recommendations-count {
          line-height: 20px;
        }

        .chip-list {
          display: inline-block;
          .chip-wrapper {
            .chip {
              background: transparent;
              border: 1px solid #fff;
            }
          }
        }
      }
    }

    .no-results-thread {
      margin: 50px auto;
      position: absolute;
      width: 100%;
      z-index: 1;

      .sub-title {
        margin-bottom: 10px;
      }
      .no-results-thread-buttons {
        text-align: center;
        button {
          font-size: 1em;
          margin: 10px;

        }
      }
    }

    .thread-disabled {
      opacity: 0.3;
    }
    .thread-no-results {
      opacity: 0.1;
    }
  }
}