@import '../_partials/colors';

body #root .App .view .page.user-page {
  #page-content {
    .user-interests {
      .label {
        font-size: 0.857142857em;
      }
    }
    .profile-data-list {
      margin-top: 30px;

      .profile-category {
        width: 200%;
        background-color: $deep-purple-translucent;
        margin-left: -50%;
        margin-top: 10px;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 50%;
      }

      .profile-data {
        display: table;
        padding: 5px;
        width: 100%;

        > span {
          width: 50%;
          margin-top: 5px;
        }

        .profile-data-value {
          float: right;
          width: 50%;
        }
        .profile-data-name {
          font-weight: bold;
          float: left;
          margin-right: 5%;
          width: 45%;
        }
        .profile-data-value-long {
          margin-top: 1.5ex;
          width: 100%;
          margin-bottom: 3ex;
          .see-more {
            color: $deep-purple;
            cursor: pointer;
          }
        }
        .profile-data-name-long {
          font-weight: bold;
          width: 100%;
          margin-top: 5px;
        }
      }
    }

    .other-profile-wrapper {
      width: 200%;
      background-color: $deep-purple-translucent;
      margin-left: -50%;
      text-align: center;
    }

    .other-profile-data {
      color: white;
      margin: 10px auto;
      display: inline-block;
      width: 50%;
      .other-profile-left {
        width: 50%;
        height: 100%;
        float: left;

        .other-profile-stats {
          width: 100%;

          a {
            color: #fff;
          }
        }
      }
      .other-profile-right {
        width: 50%;
        height: 100%;
        float: right;

        .progress-bar {
          margin-top: 5px;
          margin-bottom: 5px;
          border-radius: 5px;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
        }
        [class^="progress-bar"], [class*=" progress-bar-"] {
          border-radius: 5px;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
        }
      }
    }

    .other-profile-buttons {
      text-align: center;

      .other-profile-like-button, .other-profile-block-button {
        display: inline-block;
        margin: 0 auto 25px auto;
      }

      .other-profile-block-button {
        margin-left: 10px;
        position: absolute;

        .button {
          padding: 5px;

          .icon-block {

          }
        }
      }
    }
  }
}

@media only screen and (max-width: 300px) {
  body #root .App .view .page.user-page {
    width: 90%;
  }
}
