@import "../../../../scss/_partials/colors";
@import "../../../../scss/_partials/variables";

.views {
	display: flex;
	flex-direction: column;
	.view {
		background-color: $background;
		z-index: 0;
		flex-grow: 1;
		color: $gray-main-text;
		text-align: center;
		margin-top: $navbar-hg;
		margin-bottom: $bottombar-hg;
	}
}
