.social-box {

  text-align: center;

  div {
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    display: inline-block;

    span {
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      color: white;
    }

    .icon-facebook {
      background-color: $facebook-blue;
    }

    .icon-twitter {
      background-color: $twitter-blue;
    }

    .icon-google {
      background-color: $google-red;
    }

    .icon-youtube {
      background-color: $youtube-red;
    }

    .icon-spotify {
      background-color: $spotify-green;
    }
  }
}

.social-box-disabled {
  opacity: 0.6;
}