.social-box {

  text-align: center;

  div {
    width: 48px;
    height: 48px;
    font-size: 28px;
    text-align: center;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    margin: 8px 8px;
    border-radius: 50%;
    background: $deep-purple;
    color: $white;
    
    a { color: inherit; }
  }
}

.social-box-disabled {
  opacity: 0.6;
}