.card {
	text-align: center;
	z-index: 100;

	.card-header {
		display:block;
		padding: 15px 0 25px;
		
		.title {
			font-weight: bold;
		}
		
		.sub-title {
			color: $light-gray;
			font-size: 14px;
			margin-top: 5px;

			.icon-marker {
				font-size: 10px;
				margin-right: 5px;
			}
		}

		.send-message-button {
			float: right;
			margin-right: 4%;
			margin-top: -50px;

			span {
				font-size: 20px !important;
				width: 35px;
			}
		}
	}
	
	.card-content {
		
		.card-content-inner {
			padding: 0;
			
			.image img {
				max-height: 175px;
				max-width: 100%;
			}

			.matching {
				margin-top: -37px;
				position: relative;

				.matching-value {
					color: #fff;
					margin-bottom: 5px;
				}
			}
		}
	}

	.card-footer {

		.like-button-container {
			margin: 7px auto;
		}
	}
} 
