.card-user-top-links {
  margin-top: -20px;
  margin-bottom: -25px;
  height: 50px;
  .top-link-wrapper {
    background-color: #fff;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: inline-block;
    height: 41px;
    position: relative;
    width: 41px;
    z-index: 11;
    .top-link {
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      margin: 3px;
      position: relative;
      height: 35px;
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .shared-link-wrapper {
      background-color: #000;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      height: 35px;
      width: 35px;
      opacity: 0.7;
      position: absolute;
      top: 3px;
      left: 3px;
      .shared-links {
        font-size: 1.1em;
        color: #fff;
        height: 35px;
        line-height: 35px;
        font-weight: bold;
      }
    }
  }
}

@media only screen and (min-width: 330px) {
  .card-user-top-links {
    margin-top: -25px;
    margin-bottom: -20px;
    height: 60px;
    .top-link-wrapper {
      height: 51px;
      width: 51px;
      .top-link {
        margin: 3px;
        height: 45px;
      }
      .shared-link-wrapper {
        height: 45px;
        width: 45px;
        top: 3px;
        left: 3px;
        .shared-links {
          font-size: 1.3em;
          height: 45px;
          line-height: 45px;
        }
      }
    }
  }
}


@media only screen and (min-width: 410px) {
  .card-user-top-links {
    margin-top: -30px;
    margin-bottom: -20px;
    height: 70px;
    .top-link-wrapper {
      height: 61px;
      width: 61px;
      .top-link {
        margin: 3px;
        height: 55px;
      }
      .shared-link-wrapper {
        height: 55px;
        width: 55px;
        top: 3px;
        left: 3px;
        .shared-links {
          font-size: 1.5em;
          height: 55px;
          line-height: 55px;
        }
      }
    }
  }
}
