.chip-list {

	.separator {
		color: $green-alert;
		font-size: 7px;
		line-height: 35px;
		margin-left: -3.5px;
		position: absolute;
	}

	.chip-wrapper {
		display: inline-block;
		max-width: 100%;

		.chip {
			max-width: 100%;
		}
	}
} 
