.chip {
  background: $deep-purple;
  color: $white;
  font-weight: 400;
  line-height: 32px;
  height: 32px;

  border-radius: $chip-border-radius;
  border: solid $chip-border-width $deep-purple-translucent;
  padding: 0 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 2px 0;

  .chip-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1;
    min-width: 0;
  }
}

.chip.disabled-chip {
  background: none;
  color: inherit;
}

.chip-1 {
  width: 99%;
}

.chip-2 {
  width: 49%;
}

.chip-3 {
  width: 33%;
}

.chip-4 {
  width: 49%;
}

.chip-5 {
  width: 33%;
}

.chip-6 {
  width: 33%;
}

.chip-two-lines {
  height: 55px !important;
  border-radius: 32px !important;
  display: inline-block;
  -moz-border-radius: 32px !important;
  -webkit-border-radius: 32px !important;
  line-height: 52px !important;

  .chip-label {
    //padding: 0 24px;
    display: inline-block;
    line-height: 28px;
    vertical-align: middle;
    white-space: normal;
  }
}