$deep-purple: #6342b1;
$deep-purple-translucent: rgba(99, 66, 177, 0.5);
$dark-purple: #151232;
$dark-purple-translucent: rgba(21, 18, 50, 0.5);
$dark-purple-semi-translucent: rgba(21, 18, 50, 0.9);
$purple: #2d205f;
$dark-blue: #1b1843;
$light-blue: #6abeee;
$dark-gray: #1d2029;
$light-gray: #888888;
$light-gray-translucent: rgba(50, 50, 50, 0.5);
$light-green: #32ca91;
$green-alert: #69d6b8;
$pink: #8262a1;
$flesh-colored: #d96484;
$yellow: #adb32f;
$orange-link: #dea72f;
$facebook-blue: #3b5998;
$twitter-blue: #55acee;
$spotify-green: #82b919;
$google-red: #d34836;
$youtube-red: #cd201f;