$purple-one: #928bff;
$purple-one-light: lighten($purple-one, 20%);
$purple-two: #615acb;
$purple-two-light: lighten($purple-two, 20%);
$green: #7bd47e;
$green-light: lighten($green, 20%);
$pink: #d380d3;
$pink-light: lighten($pink, 20%);
$blue: #63caff;
$blue-lighten: lighten($blue, 20%);

$background: #f6f6f6;
$background-darken: darken(#f6f6f6, 5%);
$border: #F0F1FA;
$text: #2B3857;
$text-two: #818fa1;

$links: #1f8fe1;
$red: #f42b54;



$white-background: #FBFCFD;
$purple-main: #756EE5;
$purple-main-translucent: rgba(117, 110, 229, 0.2);;
$purple-secondary: #928BFF;
$gray-main-text: #2B3857;
$gray-main-translucent: rgba(43, 56, 87, 0.7);
$gray-secondary-text: #818FA1;
$gray-border: #F0F1FA;
$blue-projects: #63CAFF;
$blue-projects-secondary: #8ed9ff; // TODO: not a final color.
$blue-projects-translucent: rgba(99, 202, 255, 0.2);
$pink-hobbies: #D380D3;
$pink-hobbies-translucent: rgba(211, 128, 211, 0.2);
$green-experiences: #7BD47E;
$green-experiences-translucent: rgba(123, 212, 126, 0.2);
$red-error: #f42b54;

$overlay-image: rgba(43, 56, 87, 0.6);
$overlay-top: rgba(43, 56, 87, 0);
$overlay-bottom: rgba(43, 56, 87, 0.4);

$facebook-blue: #3b5998;
$twitter-blue: #55acee;
$spotify-green: #82b919;
$instagram-blue: #405de6;
$google-red: #d34836;
$youtube-red: #cd201f;
$tumblr-blue: #35465c;
$linkedin-blue: #0077b5;
$steam-black: #000000;
$steam-blue: #367195;

// TODO: Remove these colors;
$facebook-blue-light: rgba(139,157,195, 0.5);
$deep-purple: #6342b1;
$deep-purple-translucent: rgba(99, 66, 177, 0.2);
$dark-purple: #151232;
$dark-purple-translucent: rgba(21, 18, 50, 0.5);
$dark-purple-semi-translucent: rgba(21, 18, 50, 0.9);
$purple: #2d205f;
$dark-blue: #1b1843;
$light-blue: #6abeee;
$dark-gray: #1d2029;
$regular-gray: #424242;
$light-gray: #888888;
$light-gray-translucent: rgba(50, 50, 50, 0.5);
$light-green: #32ca91;
$light-green-translucent: rgba(50, 202, 145, 0.5);
$green-alert: #69d6b8;
$green-alert-translucent: rgba(105, 215, 184, 0.5);
$pink: #8262a1;
$flesh-colored: #d96484;
$yellow: #adb32f;
$orange-link: #dea72f;
$material-red: #F44336;
$material-pink: #E91E63;
$material-purple: #9C27B0;
$material-deep-purple: #673AB7;
$material-indigo: #3F51B5;
$material-blue: #2196F3;
$material-light-blue: #03A9F4;
$material-cyan: #00BCD4;
$material-teal: #009688;
$material-green: #4CAF50;
$material-light-green: #8BC34A;
$material-lime: #CDDC39;
$material-yellow: #FFEB3B;
$material-amber: #FFC107;
$material-orange: #FF9800;
$material-orange-light: #FFB640;
$material-deep-orange: #FF5722;
$material-brown: #795548;
$material-grey: #9E9E9E;
$material-blue-grey: #607D8B;
