$deep-purple: #6342b1;
$deep-purple-translucent: rgba(99, 66, 177, 0.2);
$dark-purple: #151232;
$dark-purple-translucent: rgba(21, 18, 50, 0.5);
$dark-purple-semi-translucent: rgba(21, 18, 50, 0.9);
$purple: #2d205f;
$white: #ffffff;
$ocean-blue: #2b3758;
$dark-blue: #1b1843;
$light-blue: #6abeee;
$dark-gray: #1d2029;
$regular-gray: #424242;
$light-gray: #888888;
$light-gray-translucent: rgba(50, 50, 50, 0.5);
$light-green: #32ca91;
$light-green-translucent: rgba(50, 202, 145, 0.5);
$green-alert: #69d6b8;
$green-alert-translucent: rgba(105, 215, 184, 0.5);
$pink: #8262a1;
$flesh-colored: #d96484;
$yellow: #adb32f;
$orange-link: #dea72f;
$facebook-blue: #3b5998;
$facebook-blue-light: rgba(139,157,195, 0.5);
$twitter-blue: #55acee;
$spotify-green: #82b919;
$instagram-blue: #405de6;
$google-red: #d34836;
$youtube-red: #cd201f;
$tumblr-blue: #35465c;
$linkedin-blue: #0077b5;
$steam-black: #000000;
$material-red: #F44336;
$material-pink: #E91E63;
$material-purple: #9C27B0;
$material-deep-purple: #673AB7;
$material-indigo: #3F51B5;
$material-blue: #2196F3;
$material-light-blue: #03A9F4;
$material-cyan: #00BCD4;
$material-teal: #009688;
$material-green: #4CAF50;
$material-light-green: #8BC34A;
$material-lime: #CDDC39;
$material-yellow: #FFEB3B;
$material-amber: #FFC107;
$material-orange: #FF9800;
$material-orange-light: #FFB640;
$material-deep-orange: #FF5722;
$material-brown: #795548;
$material-grey: #9E9E9E;
$material-blue-grey: #607D8B;

$text-prin: $ocean-blue;
$page-bg: $white;

$navbar-bg: $white;
