#facebook-register-button {
  button {
    background-color: $facebook-blue;
    padding: 0;

    .icon-facebook {
      font-size: 42px;
      float: left;
      line-height: inherit;
      padding-left: 10px;
      padding-right: 5px;
      margin-right: 10px;
      margin-left: -3px;
    }
  }
}