$nekuno-font: 'Maven Pro';

@font-face {
	font-family: $nekuno-font;
	src: url('fonts/mavenpro-regular-webfont.eot');
	src: url('fonts/mavenpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/mavenpro-regular-webfont.woff2') format('woff2'),
	url('fonts/mavenpro-regular-webfont.woff') format('woff'),
	url('fonts/mavenpro-regular-webfont.ttf') format('truetype'),
	url('fonts/mavenpro-regular-webfont.svg#maven_proregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: $nekuno-font;
	src: url('fonts/mavenpro-bold-webfont.eot');
	src: url('fonts/mavenpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/mavenpro-bold-webfont.woff2') format('woff2'),
	url('fonts/mavenpro-bold-webfont.woff') format('woff'),
	url('fonts/mavenpro-bold-webfont.ttf') format('truetype'),
	url('fonts/mavenpro-bold-webfont.svg#maven_probold') format('svg');
	font-weight: bold;
	font-style: normal;
}

/* Nekuno font (not used)
$nekuno-logo-font: 'klinic_slabmedium';
@font-face {
	font-family: 'klinic_slabmedium';
	src: url('fonts/klinicslabmedium-webfont.eot');
	src: url('fonts/klinicslabmedium-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/klinicslabmedium-webfont.woff2') format('woff2'),
	url('fonts/klinicslabmedium-webfont.woff') format('woff'),
	url('fonts/klinicslabmedium-webfont.ttf') format('truetype'),
	url('fonts/klinicslabmedium-webfont.svg#klinic_slabmedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/

@font-face {
	font-family: 'Nekuno Icons';
	src:  url('fonts/icomoon.eot?frba0c');
	src:  url('fonts/icomoon.eot?frba0c#iefix') format('embedded-opentype'),
	url('fonts/icomoon.ttf?frba0c') format('truetype'),
	url('fonts/icomoon.woff?frba0c') format('woff'),
	url('fonts/icomoon.svg?frba0c#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'Nekuno Icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.disabled-icon {
	opacity: 0.5;
}

.icon-cancel-circle:before {
	content: "\ea0d";
}
.icon-calendar-check:before {
	content: "\f274";
}
.icon-compass2:before {
	content: "\f14e";
}
.icon-heart2:before {
	content: "\f006";
}
.icon-calendar-check2:before {
	content: "\f275";
}
.icon-compass3:before {
	content: "\f14f";
}
.icon-heart3:before {
	content: "\f007";
}
.icon-steam:before {
	content: "\f1b6";
}
.icon-tumblr:before {
	content: "\eab9";
}
.icon-gamepad:before {
	content: "\e932";
}
.icon-cubes:before {
	content: "\e933";
}
.icon-compass:before {
	content: "\e934";
}
.icon-lightbulb:before {
	content: "\e935";
}
.icon-comments:before {
	content: "\e936";
}
.icon-cool:before {
	content: "\e9eb";
}
.icon-hipster:before {
	content: "\e9f9";
}
.icon-arrow-left:before {
	content: "\f060";
}
.icon-arrow-right:before {
	content: "\f061";
}
.icon-fa-plus:before {
	content: "\f067";
}
.icon-sign-out:before {
	content: "\f08b";
}
.icon-plug:before {
	content: "\f1e6";
}
.icon-commenting:before {
	content: "\f27a";
}
.icon-warning:before {
	content: "\ea07";
}
.icon-info:before {
	content: "\ea0c";
}
.icon-cross:before {
	content: "\ea0f";
}
.icon-puzzle-piece:before {
	content: "\f12e";
}
.icon-heart:before {
	content: "\f004";
}
.icon-star:before {
	content: "\f005";
}
.icon-thumbs-up:before {
	content: "\f164";
}
.icon-thumbs-down:before {
	content: "\f165";
}
.icon-spinner:before {
	content: "\e97a";
}
.icon-spinner, .icon-thumbs-up, .icon-thumbs-down, .icon-star {
	display: inline-block;
}
.icon-circle:before {
	content: "\e929";
}
.icon-line:before {
	content: "\e92a";
}
.icon-pause:before {
	content: "\e916";
}
.icon-play:before {
	content: "\e91a";
}
.icon-audio:before {
	content: "\e900";
}
.icon-block:before {
	content: "\e901";
	font-size: 20px;
	vertical-align: super;
}
.icon-calendar:before {
	content: "\e902";
}
.icon-channels:before {
	content: "\e903";
	font-size: 20px;
}
.icon-clock:before {
	content: "\e904";
}
.icon-delete:before {
	content: "\e905";
}
.icon-edit:before {
	content: "\e906";
}
.icon-facebook:before {
	content: "\e907";
}
.icon-female:before {
	content: "\e908";
}
.icon-google:before {
	content: "\e909";
}
.icon-image:before {
	content: "\e90a";
	font-size: 2.7em;
}
.icon-instagram:before {
	content: "\e90b";
	margin-left: 1px;
	margin-right: -1px;
}
.icon-left-arrow:before {
	content: "\e90c";
}
.icon-linkedin:before {
	content: "\e90d";
}
.icon-male:before {
	content: "\e90e";
}
.icon-marker:before {
	content: "\e90f";
	font-size: 0.714285714em;
}
.icon-menu:before {
	content: "\e910";
}
.icon-message:before {
	content: "\e911";
	font-size: 20px;
}
.icon-mixed-gender:before {
	content: "\e912";
}
.icon-mobile:before {
	content: "\e913";
}
.icon-nekuno:before {
	content: "\e914";
}
.icon-notifications:before {
	content: "\e915";
}
.icon-person:before {
	content: "\e917";
	font-size: 1.4em;
	line-height: 16px;
	vertical-align: text-bottom;
}
.icon-users:before {
	content: "\e92e";
	font-size: 1.5em;
}
.icon-photo:before {
	content: "\e918";
}
.icon-pinterest:before {
	content: "\e919";
}
.icon-plus:before {
	content: "\e91b";
}
.icon-preferences:before {
	content: "\e91c";
}
.icon-private:before {
	content: "\e91d";
}
.icon-right-arrow:before {
	content: "\e91e";
}
.icon-search:before {
	content: "\e91f";
}
.icon-soundcloud:before {
	content: "\e920";
}
.icon-spotify:before {
	content: "\e921";
}
.icon-twitter:before {
	content: "\e922";
}
.icon-upload:before {
	content: "\e923";
}
.icon-uploadthin:before {
	content: "\e924";
	font-size: 1.7em;
}
.icon-upload-cload-image:before {
	content: "\e925";
}
.icon-upload-cloud:before {
	content: "\e926";
}
.icon-video:before {
	content: "\e927";
}
.icon-video-next:before {
	content: "\e928";
}
.icon-video-prev:before {
	content: "\e92b";
}
.icon-web-site:before {
	content: "\e92c";
}
.icon-youtube:before {
	content: "\e92d";
}
.icon-checkmark:before {
	content: "\e92f";
}
.icon-share:before {
	content: "\e930";
}
.icon-grin2:before {
	content: "\e931";
}
.icon-angle-up:before {
	content: "\f106";
}
.icon-angle-down:before {
	content: "\f107";
}

::-webkit-input-placeholder {
	font-family: $nekuno-font;
}
:-moz-placeholder { /* Firefox 18- */
	font-family: $nekuno-font;
}

::-moz-placeholder {  /* Firefox 19+ */
	font-family: $nekuno-font;
}

:-ms-input-placeholder {
	font-family: $nekuno-font;
}