.list-block .checkbox-list {
	li::after {
		content: none;
	}
}

.label-checkbox {
	.item-inner {
		.item-title {
			text-transform: none;
			white-space: normal;
			width: 50%;

		}
		&::after {
			content: none;
		}
	}
	&::after {
		content: none;
	}
}

.label-checkbox.active-state {
	background-color: transparent !important;
}
