.spinner-wrapper {
	width: 58px;
	height: 58px;
	margin: 8px;
	.rotation-animation {
		animation: div-rotate 1s infinite steps(8);
		font-size: 4.3em;
	}
}
.spinner-wrapper-small {
	width: 18px;
	height: 18px;
	margin: 6px;
}

.rotation-animation {
	animation: div-rotate 3s linear infinite;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
}
@keyframes div-rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@-webkit-keyframes div-rotate {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}