/*#messages-toolbar .toolbar-inner {
  background-color: transparent !important;
  padding: 0;
  .toolbar.messagebar {
    border-top: 1px solid $light-gray;
    .toolbar-inner {
      background-color: #fff !important;
      padding: 0;
      a {
        color: $deep-purple;
        text-align: center;
        width: 25%;
      }
      textarea {
        border: none;
        height: 50px;
        line-height: 42px;
        width: 75%;
      }
    }

    &::before {
      content: none;
    }
  }
}
*/