.modal {
	color: #fff;

	.modal-inner {
		background-color: $deep-purple;

		.modal-title {
			font-size: 14px;
			font-weight: bold;
		}
	}
	.modal-buttons {
		.modal-button {
			background-color: $deep-purple;
			color: #fff;
			font-size: 12px;
			font-weight: bold;
		}
	}
}
