.navbar {
	overflow-y: scroll;
	position: fixed !important;
}

.navbar, .subnavbar, .toolbar {
	background-color: $dark-purple;
	color: #fff;

	#navbar-inner {
		.row {
			margin: auto;
			width: 95%;
		}
		.col-30 {
			width: 30%;
		}
		.col-40 {
			width: 35%;
		}
		.center {
			display: block;
			font-size: 0.941176471em;
		}

		.center.large {
			font-size: 1.3125em;
		}

		.left {
			margin-top: 12px;
			text-align: left;
		}
		.right {
			margin-top: 8px;
			text-align: right;
		}
		.left, .right {
			color: $deep-purple;
			display: block;
			font-size: 0.823529412em;

			.icon-left-arrow {
				color: #fff;
				font-size: 25px;
			}
		}

		.open-panel .icon-menu {
			font-size: 25px;
		}
	}
	&::after {
		content: none;
	}
}
