.navbar {
	overflow-y: scroll;
	position: fixed !important;
}

@media only screen and (max-width: 300px) {
	.navbar {
		width: 90%;
	}
}

.navbar, .subnavbar, #bottom-toolbar.toolbar, #messages-toolbar.toolbar {
	background-color: $dark-purple;
	color: #fff;

	#navbar-inner {
		.row {
			margin: auto;
			width: 100%;
		}
		.col-30 {
			cursor: pointer;
			height: 50px;
			width: 25%;
		}
		.col-40 {
			cursor: pointer;
			height: 50px;
			width: 40%;
		}
		.center {
			display: block;
			font-size: 0.941176471em;
		}

		.center.large {
			font-size: 1.3125em;
		}

		.left {
			margin-top: 12px;
			text-align: left;
		}
		.right {
			margin-top: 8px;
			text-align: right;
		}
		.left, .right {
			color: $deep-purple;
			display: block;
			font-size: 0.882352941em;

			.icon-left-arrow {
				color: #fff;
				font-size: 25px;
			}
		}

		.open-panel {
			display: block;
			height: 50px;
			width: 100%;

			.icon-menu {
				font-size: 25px;
			}
		}

		.icon-circle {
			color: $green-alert;
			font-size: 0.5em;
			margin-left: 5px;
			position: absolute;
		}

		.navbar-link-text {
			font-weight: bold;
		}

		&.two-right-icons-navbar {
			.col-30 {
				width: 35%;
			}
			.col-40 {
				width: 20%;
			}
		}
	}

	&::after {
		content: none;
	}
}
