// This rule is used to fix 3d panel plugin when page height > 100% of screen height
body.panels-3d.with-panel-left-reveal .views {
	height: 110%;
}

.panel {
	background: $dark-blue;
	width: 100%;

	a {
		color: #fff;
	}
	.top-menu {
		margin-top: 12px;
		position: absolute;
	}
	.close-panel {
		color: $deep-purple;
		font-size: 29px;
	}

	.menu {
		padding: 30px 30px 0 30px;

		a {
			display: block;
			font-size: 16px;
			padding: 20px;
		}
	}
}


