.panel {
	background: $dark-blue;
	width: 90%;
	
	a {
		color: #fff;
	}
}

body.with-panel-left-reveal .views {
	-webkit-transform: translate3d(90%,0,0);
	transform: translate3d(90%, 0px, 0px);
}
body.with-panel-left-reveal .panel-overlay {
    margin-left: 90%;
}
