.popup-overlay.modal-overlay-visible {
	visibility: collapse;
}

.popup {
	background: $dark-purple-semi-translucent;
	margin-top: 50px;
	overflow: hidden;
	position: fixed;

	.content-block {
		a {
			color: #fff;
			font-size: 1.1em;
		}
		p {
			.close-popup {
				display: block;
				height: 50px;
				width: 100px;
			}
		}
		.popup-filter-contents-title, .popup-register-finished-title {
			margin-top: 50px;
			margin-bottom: 40px;
		}
		.popup-orientation-required-title {
			color: #fff;
			font-size: 1.785714286em;
			text-align: center;
		}
		.popup-orientation-required-clarification {
			color: #fff;
			margin-bottom: 10px;
			font-weight: bold;
			text-align: center;
		}
		.popup-register-finished-text {
			margin-bottom: 40px;
			text-align: center;
		}

		.filter-icons-row-wrapper {
			margin-top: 20px;
			text-align: center;

			.icons-large-wrapper {
				background-color: $deep-purple;
				border-radius: 50%;
				-moz-border-radius: 50%;
				-webkit-border-radius: 50%;
				cursor: pointer;
				display: inline-block;
				height: 90px;
				margin: 0 2% 0 2%;
				text-align: center;
				width: 90px;

				.icon {
					font-size: 2em;
					padding-top: 20px;
				}

				.icon-web-site {
					font-size: 3em;
					line-height: 0.7;
				}

				.icon-person {
					font-size: 1.3em;

					&::before {
						line-height: normal;
					}
				}

				.icons-large-text {
					font-size: 0.8em;
					font-weight: bold;
					margin-top: 5px;
				}
			}
		}
	}

	&.popup-orientation-required {
		z-index: 11111;
		.text-radios-title {
			color: #fff;
		}
	}

	&.popup-report-content, &.popup-unlock-group {
		margin-top: 0;
		z-index: 1111111;

		.content-block {
			margin-top: 50px;
			width: 95%;

			input {
				text-align: center;
			}
		}
		.textarea-title {
			color: #fff;
			margin: auto;
			text-align: center;
		}
	}
}
