.profile-avatars-connection {
  height: 50%;
  .small-user-circles {
    display: inline;
    line-height: 40px;
    vertical-align: text-bottom;
  }
  .icon-circle {
    color: $deep-purple;
    margin-left: 1.5px;
    margin-right: 1.5px;
    font-size: 5px;
  }
  .small-user-image {
    margin-left: 5px;
    margin-right: 5px;
    display: inline;
    img {
      border-radius: 50%;
      height: auto;
      width: 15%;
    }

  }
}