.profile-avatars-connection {
  height: 50%;
  .small-user-circles {
    display: inline-block;
    line-height: 40px;
    vertical-align: text-bottom;
  }
  .icon-circle {
    color: $deep-purple;
    margin-left: 1.5px;
    margin-right: 1.5px;
    font-size: 5px;
  }
  .small-user-image {
    background-color: #fff;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    width: 30px;

    img {
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      height: 28px;
      margin: 1px;
      width: 28px;
    }

  }
}