.processes-progress {
  background: transparent;
  left: 0;
  margin: 0;
  padding: 15px 5%;
  width: 90%;
  z-index: 11;

  .processes-progress-title {
    height: 45px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
  }
  .progress-line {
    height: 5px;
  }
}