@import "colors";

.progress-bar {
	background-color: rgba(255, 255, 255, 0.5);
	height: 7px;
	width: 100%;

	[class^="progress-bar-"], [class*=" progress-bar-"] {
		background-color: $deep-purple;
		height: 7px;
	}
	.progress-bar-0 {
		width: 0%;
		display: none;
	}
	.progress-bar-1 {
		width: 1%;
	}
	.progress-bar-2 {
		width: 2%;
	}
	.progress-bar-3 {
		width: 3%;
	}
	.progress-bar-4 {
		width: 4%;
	}
	.progress-bar-5 {
		width: 5%;
	}
	.progress-bar-6 {
		width: 6%;
	}
	.progress-bar-7 {
		width: 7%;
	}
	.progress-bar-8 {
		width: 8%;
	}
	.progress-bar-9 {
		width: 9%;
	}
	.progress-bar-10 {
		width: 10%;
	}
	.progress-bar-11 {
		width: 11%;
	}
	.progress-bar-12 {
		width: 12%;
	}
	.progress-bar-13 {
		width: 13%;
	}
	.progress-bar-14 {
		width: 14%;
	}
	.progress-bar-15 {
		width: 15%;
	}
	.progress-bar-16 {
		width: 16%;
	}
	.progress-bar-17 {
		width: 17%;
	}
	.progress-bar-18 {
		width: 18%;
	}
	.progress-bar-19 {
		width: 19%;
	}
	.progress-bar-20 {
		width: 20%;
	}
	.progress-bar-21 {
		width: 21%;
	}
	.progress-bar-22 {
		width: 22%;
	}
	.progress-bar-23 {
		width: 23%;
	}
	.progress-bar-24 {
		width: 24%;
	}
	.progress-bar-25 {
		width: 25%;
	}
	.progress-bar-26 {
		width: 26%;
	}
	.progress-bar-27 {
		width: 27%;
	}
	.progress-bar-28 {
		width: 28%;
	}
	.progress-bar-29 {
		width: 29%;
	}
	.progress-bar-30 {
		width: 30%;
	}
	.progress-bar-31 {
		width: 31%;
	}
	.progress-bar-32 {
		width: 32%;
	}
	.progress-bar-33 {
		width: 33%;
	}
	.progress-bar-34 {
		width: 34%;
	}
	.progress-bar-35 {
		width: 35%;
	}
	.progress-bar-36 {
		width: 36%;
	}
	.progress-bar-37 {
		width: 37%;
	}
	.progress-bar-38 {
		width: 38%;
	}
	.progress-bar-39 {
		width: 39%;
	}
	.progress-bar-40 {
		width: 40%;
	}
	.progress-bar-41 {
		width: 41%;
	}
	.progress-bar-42 {
		width: 42%;
	}
	.progress-bar-43 {
		width: 43%;
	}
	.progress-bar-44 {
		width: 44%;
	}
	.progress-bar-45 {
		width: 45%;
	}
	.progress-bar-46 {
		width: 46%;
	}
	.progress-bar-47 {
		width: 47%;
	}
	.progress-bar-48 {
		width: 48%;
	}
	.progress-bar-49 {
		width: 49%;
	}
	.progress-bar-50 {
		width: 50%;
	}
	.progress-bar-51 {
		width: 51%;
	}
	.progress-bar-52 {
		width: 52%;
	}
	.progress-bar-53 {
		width: 53%;
	}
	.progress-bar-54 {
		width: 54%;
	}
	.progress-bar-55 {
		width: 55%;
	}
	.progress-bar-56 {
		width: 56%;
	}
	.progress-bar-57 {
		width: 57%;
	}
	.progress-bar-58 {
		width: 58%;
	}
	.progress-bar-59 {
		width: 59%;
	}
	.progress-bar-60 {
		width: 60%;
	}
	.progress-bar-61 {
		width: 61%;
	}
	.progress-bar-62 {
		width: 62%;
	}
	.progress-bar-63 {
		width: 63%;
	}
	.progress-bar-64 {
		width: 64%;
	}
	.progress-bar-65 {
		width: 65%;
	}
	.progress-bar-66 {
		width: 66%;
	}
	.progress-bar-67 {
		width: 67%;
	}
	.progress-bar-68 {
		width: 68%;
	}
	.progress-bar-69 {
		width: 69%;
	}
	.progress-bar-70 {
		width: 70%;
	}
	.progress-bar-71 {
		width: 71%;
	}
	.progress-bar-72 {
		width: 72%;
	}
	.progress-bar-73 {
		width: 73%;
	}
	.progress-bar-74 {
		width: 74%;
	}
	.progress-bar-75 {
		width: 75%;
	}
	.progress-bar-76 {
		width: 76%;
	}
	.progress-bar-77 {
		width: 77%;
	}
	.progress-bar-78 {
		width: 78%;
	}
	.progress-bar-79 {
		width: 79%;
	}
	.progress-bar-80 {
		width: 80%;
	}
	.progress-bar-81 {
		width: 81%;
	}
	.progress-bar-82 {
		width: 82%;
	}
	.progress-bar-83 {
		width: 83%;
	}
	.progress-bar-84 {
		width: 84%;
	}
	.progress-bar-85 {
		width: 85%;
	}
	.progress-bar-86 {
		width: 86%;
	}
	.progress-bar-87 {
		width: 87%;
	}
	.progress-bar-88 {
		width: 88%;
	}
	.progress-bar-89 {
		width: 89%;
	}
	.progress-bar-90 {
		width: 90%;
	}
	.progress-bar-91 {
		width: 91%;
	}
	.progress-bar-92 {
		width: 92%;
	}
	.progress-bar-93 {
		width: 93%;
	}
	.progress-bar-94 {
		width: 94%;
	}
	.progress-bar-95 {
		width: 95%;
	}
	.progress-bar-96 {
		width: 96%;
	}
	.progress-bar-97 {
		width: 97%;
	}
	.progress-bar-98 {
		width: 98%;
	}
	.progress-bar-99 {
		width: 99%;
	}
	.progress-bar-100 {
		width: 100%;
	}

}