body #root .App .view {
	.share-profile-container {
    width: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    padding: 16px 0;
		.button {
			cursor: pointer;
			height: 40px;

			background: $deep-purple;
      color: $white;
			font-size: 12px;
			border-radius: 20px;

			display: flex;
			align-items: center;

			.icon-share {
				color: $white;
				font-size: 12px;
				margin-right: 8px;
			}
			.share-text {
				line-height: normal;
			}
		}
	}
}
