body #root .App .view {
  .share-profile-container {
    background-color: $deep-purple;
    cursor: pointer;
    left: 0;
    margin-top: 20px;
    padding: 10px 10px 5%;
    right: 0;
    text-align: center;

    .share-profile-title {
      font-size: 1.428571429em !important;
      font-weight: bold;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .share-profile-button {
      margin-top: 15px;
      .button {
        background: #fff;
        color: $deep-purple;
        .icon-share {
          color: $deep-purple;
        }
      }
    }
  }
}