.chip-list {

	.separator {
		position: absolute;
		margin-left: -5px;

		&::before {
			color: $green-alert;
			content: "•";
			font-size: 23px;
			line-height: 22px;
			vertical-align: text-top;
		}
	}
	
	.chip-wrapper {
		display: inline-block;
	}
} 
