body #root .App .view {

  .social-wheels {
    text-align: center;

    path {
      fill: none;
      stroke-width: 1.5px;
    }
    .icon-wrapper {
      cursor: default;
      font-size: 1.1em;
      height: 15px;
      margin-left: 0 !important;
      width: 15px;
      color: $white;
      background-color: $deep-purple;
    }
    .fetching-icon {
      -moz-animation-duration: 1s;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -moz-animation-name: background-to-yellow;
      -webkit-animation-name: background-to-yellow;
      animation-name: background-to-yellow;
      -moz-animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -moz-animation-direction: alternate;
      -webkit-animation-direction: alternate;
      animation-direction: alternate;
    }
    .fetched-icon {
      -moz-animation-duration: 1s;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -moz-animation-name: background-to-orange;
      -webkit-animation-name: background-to-orange;
      animation-name: background-to-orange;
      -moz-animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -moz-animation-direction: alternate;
      -webkit-animation-direction: alternate;
      animation-direction: alternate;
    }

    @keyframes background-to-yellow {
      to {
        -webkit-box-shadow: 0 0 1px 1px yellow;
        -moz-box-shadow: 0 0 1px 1px yellow;
        box-shadow: 0 0 1px 1px yellow;
      }
    }
    @keyframes background-to-orange {
      to {
        -webkit-box-shadow: 0 0 1px 1px orange;
        -moz-box-shadow: 0 0 1px 1px orange;
        box-shadow: 0 0 1px 1px orange;
      }
    }

    .wheel-picture {
      stroke: #fff;
    }
    .wheel-separator {
      stroke: $text-second;
    }
    .wheel-twitter, .wheel-facebook, .wheel-google, .wheel-spotify, .wheen-instagram, .wheel-tumblr, .wheel-linkedin, .wheel-steam {
      stroke: $deep-purple;
    }


    .big-icon-wrapper.icon-wrapper {
      font-size: 2.1em;
      height: 30px;
      width: 30px;
    }

    .empty-message {
      margin-top: 30px;
    }

    #other-social-networks {
      .social-box {
        margin-top: 15px;
      }
    }
  }
}