.tag-input-wrapper {
  display: inline-block;
  width: 85%;

  &::after {
    content: '';
    height: 1px;
    width: 100%;
    background-color: #888888;
    display: block;
    z-index: 15;

  }
  
  .tag-input-title {
    font-weight: bold;
    text-align: center;
  }
  .tag-input {
    font-weight: 400;
    background: transparent;
    height: 60px;
    line-height: 60px;
    padding: 0 5px;
    vertical-align: middle;
    margin: 2px 0;
    width: 100%;

    input[type=time], input[type=number], input[type=search], input[type=text], input[type=password], input[type=email], input[type=tel], input[type=url], input[type=date], input[type=datetime-local] {
      background-color: transparent;
      border: none;
      color: #fff;
      width: 100%;
    }
  }

  .tag-suggestions {
    background: $purple;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    padding: 0 10px;
    position: absolute;
    z-index: 2;

    ul {
      padding: 0;

      li {
        display: inline-block;
        list-style-type: none;
        padding-right: 5px;
      }
    }
  }
}