.list-block {	
	input[type=time], input[type=number], input[type=search], input[type=text], input[type=password], input[type=email], input[type=tel], input[type=url], input[type=date], input[type=datetime-local], select, textarea {
		color: #fff;
		font-size: 14px;
		margin-bottom: 10px;
		margin-top: 5px;
	}
}
