.text-checkboxes {
  clear: both;
  margin: auto;
  padding: 35px 0;
  text-align: center;

  .text-checkboxes-title {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }

  .chip {
    display: inline-block;
    cursor: pointer;
    line-height: 30px;
    margin: 0 5px 0 5px;
    text-align: center;
    word-wrap: break-word;
  }

  select {
    background: $deep-purple-translucent;
    border: 1px solid #fff;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    color: #text-prin;
    cursor: pointer;
    text-align-last: center;
  }
}
.range-filter {
  margin: auto;
  width: 80%;
  .checkbox-title {
    font-weight: bold;
    margin-left: -11%;
  }
  .rc-slider {
    margin-bottom: 15px;
    margin-top: 35px;

    .rc-slider-track {
      background-color: $deep-purple;
    }
    .rc-slider-handle {
      border-color: $deep-purple;
    }
    .rc-slider-dot-active {
      border-color: $deep-purple;
    }
  }
}