.list-block .checkbox-title {
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
}

.text-radios {
  clear: both;
  margin: auto;
  padding: 35px 0;
  text-align: center;

  .text-radios-title {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .text-radios-container {
    display: flex;
    align-items: stretch;
    
    .chip {
      margin: 0;
      border-right-width: 0;
      border-radius: 0;
      cursor: pointer;
    }
    .chip:first-child {
      border-top-left-radius: $chip-border-radius;
      border-bottom-left-radius: $chip-border-radius;
    }
    .chip:last-child {
      border-top-right-radius: $chip-border-radius;
      border-bottom-right-radius: $chip-border-radius;
      border-right-width: $chip-border-width;
    }
  }
  
  select {
    background: $dark-purple;
    border: 1px solid;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    cursor: pointer;
    text-align-last: center;
  }
}

.text-radios-disabled {
  opacity: 0.4;
}