.color-nekuno {
  color: $deep-purple;
}
.list-block .item-link.list-button.color-nekuno,
.tabbar a.active.color-nekuno,
a.color-nekuno {
  color: $deep-purple;
}
.label-switch input[type="checkbox"]:checked + .checkbox.color-nekuno,
.label-switch.color-nekuno input[type="checkbox"]:checked + .checkbox {
  background-color: $deep-purple;
}
.color-nekuno.button:not(.button-fill),
.color-nekuno.buttons-row .button,
.theme-nekuno .button:not(.button-fill) {
  border-color: $deep-purple;
}
html:not(.watch-active-state) .color-nekuno.button:not(.button-fill):active,
html:not(.watch-active-state) .color-nekuno.buttons-row .button:active,
html:not(.watch-active-state) .theme-nekuno .button:not(.button-fill):active,
.color-nekuno.button:not(.button-fill).active-state,
.color-nekuno.buttons-row .button.active-state,
.theme-nekuno .button:not(.button-fill).active-state {
  /*background-color: rgba(142, 142, 147, 0.15);*/
}
.color-nekuno.button:not(.button-fill).active,
.color-nekuno.buttons-row .button.active,
.theme-nekuno .button:not(.button-fill).active {
  background-color: $deep-purple;
  color: #fff;
}
.theme-nekuno .button.button-fill,
.button.button-fill.color-nekuno {
  background: $deep-purple;
  color: #fff;
}
.progressbar.color-nekuno span,
.progressbar.theme-nekuno span,
.theme-nekuno .progressbar span,
.progressbar.bg-nekuno span {
  background-color: $deep-purple;
}
.progressbar-infinite.color-nekuno:before,
.progressbar-infinite.theme-nekuno:before,
.theme-nekuno .progressbar-infinite:before,
.progressbar-infinite.bg-nekuno:before {
  background-color: $deep-purple;
}
.color-nekuno i.icon,
.theme-nekuno i.icon,
i.icon.color-nekuno,
i.icon.theme-nekuno {
  color: $deep-purple;
}
i.icon-next.color-nekuno,
i.icon-next.theme-nekuno,
.theme-nekuno i.icon-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2015%2015'%3E%3Cg%3E%3Cpath%20fill%3D'%23673ab7'%20d%3D'M1%2C1.6l11.8%2C5.8L1%2C13.4V1.6%20M0%2C0v15l15-7.6L0%2C0L0%2C0z'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
i.icon-prev.color-nekuno,
i.icon-prev.theme-nekuno,
.theme-nekuno i.icon-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2015%2015'%3E%3Cg%3E%3Cpath%20fill%3D'%23673ab7'%20d%3D'M14%2C1.6v11.8L2.2%2C7.6L14%2C1.6%20M15%2C0L0%2C7.6L15%2C15V0L15%2C0z'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
i.icon-back.color-nekuno,
i.icon-back.theme-nekuno,
.theme-nekuno i.icon-back {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2012%2020'%3E%3Cpath%20d%3D'M10%2C0l2%2C2l-8%2C8l8%2C8l-2%2C2L0%2C10L10%2C0z'%20fill%3D'%23673ab7'%2F%3E%3C%2Fsvg%3E");
}
i.icon-forward.color-nekuno,
i.icon-forward.theme-nekuno,
.theme-nekuno i.icon-forward {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2012%2020'%3E%3Cpath%20d%3D'M2%2C20l-2-2l8-8L0%2C2l2-2l10%2C10L2%2C20z'%20fill%3D'%23673ab7'%2F%3E%3C%2Fsvg%3E");
}
i.icon-bars.color-nekuno,
i.icon-bars.theme-nekuno,
.theme-nekuno i.icon-bars {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2021%2014'%3E%3Cpath%20fill%3D'%23673ab7'%20d%3D'M0%2C0h2v2H0V0z%20M4%2C0h17v1H4V0z%20M0%2C6h2v2H0V6z%20M4%2C6h17v1H4V6z%20M0%2C12h2v2H0V12z%20M4%2C12h17v1H4V12z'%2F%3E%3C%2Fsvg%3E");
}
@media (-webkit-min-device-pixel-ratio: 2) {
  i.icon-bars.color-nekuno,
  i.icon-bars.theme-nekuno,
  .theme-nekuno i.icon-bars {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2042%2026'%3E%3Cpath%20fill%3D'%23673ab7'%20d%3D'M0%2C0h4v4H0V0z%20M8%2C1h34v2H8V1z%20M0%2C11h4v4H0V11z%20M8%2C12h34v2H8V12z%20M0%2C22h4v4H0V22z%20M8%2C23h34v2H8V23z'%2F%3E%3C%2Fsvg%3E");
  }
}
.theme-nekuno a,
.theme-nekuno .item-link.list-button {
  color: $deep-purple;
}
.theme-nekuno .tabbar a,
.tabbar.theme-nekuno a,
.theme-nekuno .tabbar a i,
.tabbar.theme-nekuno a i {
  color: inherit;
}
.theme-nekuno .tabbar a.active,
.tabbar.theme-nekuno a.active,
.theme-nekuno .tabbar a.active i,
.tabbar.theme-nekuno a.active i {
  color: $deep-purple;
}
.theme-nekuno .range-slider input[type="range"]::-webkit-slider-thumb:before,
.range-slider.theme-nekuno input[type="range"]::-webkit-slider-thumb:before {
  background-color: $deep-purple;
}
.theme-nekuno .range-slider input[type="range"]::-ms-fill-lower,
.range-slider.theme-nekuno input[type="range"]::-ms-fill-lower {
  background-color: $deep-purple;
}
.theme-nekuno label.label-checkbox input[type="checkbox"]:checked + .item-media i.icon-form-checkbox,
.theme-nekuno label.label-checkbox input[type="radio"]:checked + .item-media i.icon-form-checkbox {
  background-color: $deep-purple;
}
.theme-nekuno label.label-checkbox i.icon-form-checkbox.checked {
  background-color: $deep-purple;
  border: none;
}
.theme-nekuno label.label-checkbox i.icon-form-checkbox.checked:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20x%3D'0px'%20y%3D'0px'%20viewBox%3D'0%200%2012%209'%20xml%3Aspace%3D'preserve'%3E%3Cpolygon%20fill%3D'%23ffffff'%20points%3D'12%2C0.7%2011.3%2C0%203.9%2C7.4%200.7%2C4.2%200%2C4.9%203.9%2C8.8%203.9%2C8.8%203.9%2C8.8%20'%2F%3E%3C%2Fsvg%3E");
  -webkit-background-size: 12px 9px;
  background-size: 12px 9px;
}
.theme-nekuno label.label-radio input[type="checkbox"]:checked ~ .item-inner,
.theme-nekuno label.label-radio input[type="radio"]:checked ~ .item-inner {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2013%2010'%3E%3Cpolygon%20fill%3D'%23673ab7'%20points%3D'11.6%2C0%204.4%2C7.2%201.4%2C4.2%200%2C5.6%204.4%2C10%204.4%2C10%204.4%2C10%2013%2C1.4%20'%2F%3E%3C%2Fsvg%3E");
}
.theme-nekuno .picker-calendar-day.picker-calendar-day-selected span {
  background-color: $deep-purple !important;
}
.swiper-pagination.color-nekuno .swiper-pagination-bullet-active,
.theme-nekuno .swiper-pagination .swiper-pagination-bullet-active {
  background-color: $deep-purple;
}
.swiper-button-next.color-nekuno,
.swiper-container-rtl .swiper-button-prev.color-nekuno,
.theme-nekuno .swiper-button-next,
.theme-nekuno .swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23673ab7'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-prev.color-nekuno,
.swiper-container-rtl .swiper-button-next.color-nekuno,
.theme-nekuno .swiper-button-prev,
.theme-nekuno .swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23673ab7'%2F%3E%3C%2Fsvg%3E");
}
.bg-nekuno,
.button.button-fill.bg-nekuno,
a.bg-nekuno,
.list-block .swipeout-actions-left a.bg-nekuno,
.list-block .swipeout-actions-right a.bg-nekuno {
  background-color: $deep-purple;
}
.border-nekuno {
  border-color: $deep-purple;
}
.list-block .border-nekuno.item-inner:after,
.list-block ul.border-nekuno:after,
.border-nekuno:after,
.list-block .border-nekuno.item-inner:before,
.list-block ul.border-nekuno:before,
.border-nekuno:before {
  background-color: $deep-purple;
}
.badge.color-nekuno,
.badge.theme-nekuno {
  background-color: $deep-purple;
  color: #fff;
}
