.toolbar {
	background: none;
	overflow-y: scroll;
	position: fixed !important;
	padding: 30px 0;

	.toolbar-inner {
		background-color: $deep-purple;
		font-size: 0.823529412em;
		height: 60px;
		margin: -30px auto 40px auto;
		max-width: 480px;
		min-width: 320px;
		padding: 0 40px;
		position: relative;

		a {
			color: #fff;
		}
	}

	&::before {
		content: none;
	}
}
