@import './variables';

.toolbar {
  z-index: 11111;
}

.toolbar:not(.messagebar) {
  height: $bottombar-hg;

  .arrow-up {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $deep-purple;
    bottom: $bottombar-hg;
    margin-top: -5px;
    position: absolute;
    height: 0;
    width: 0;
  }

  .toolbar-inner {
    background: $white;
    font-size: 14px;
    height: 56px;
    box-shadow: 0px -1px 19px rgba(101,150,255,0.15);
    height: $bottombar-hg;
    display: flex;

    .toolbar-link {
      flex-basis: 0;
      flex: 1;

      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      color: $text_second;
      .icon {
        position: relative;
        font-size: 24px;
        margin: -3px 0 -6px;
        &.mdi-account { top: 1px; font-size: 25px; margin: -5px 0 -6px; }
        &.mdi-comment-question-online { top: 1px; }
        &.mdi-thumbs-up-down { font-size: 22px; margin: -1px 0 -4px; }
      }
      &.active {
        .icon { color: $deep_purple; }
        .text { color: $text_prin; }
      }
    }
  }
  &::before {
    content: none;
  }

  @media only screen and (max-width: 359px) {
    .toolbar-link .text {
      display: none;
    }
  }
}