.user-block {
	margin: 20px auto;
	text-align: center;

	.user-image {
		margin: auto;
		width: 25%;

		img {
			border-radius: 50%;
			height: auto;
			width: 100%;
		}
	}
}

.user-interests {
	margin-top: -10px;
	text-align: center;

}

.blocked {
	color: red;
}

