.user-block {
	padding: 8px 16px;
	text-align: center;

	.user-image {
		background: white;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		height: 79px;
		margin: 10px auto 10px;
		width: 79px;

		img {
			border-radius: 50%;
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;
			height: 75px;
			margin-top: 2px;
			width: 75px;
		}
	}
}

.user-interests {
	margin-top: -10px;
	text-align: center;

}

.user-image-wrapper {
	background-color: #fff;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	height: 64px;
	margin: auto;
	width: 64px;

	.user-image {
		height: 60px;
		margin: 2px auto;
		width: 60px;
		img {
			border-radius: 50%;
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;
			height: 60px;
			vertical-align: text-top;;
			width: 60px;
		}
	}

}