@import '../../../../scss/_partials/colors';

.title {
  font-weight: 600;
  margin-bottom: 16px;
}
.select-inline-wrapper {
  border: 1px solid $gray-border;
  border-radius: 18px;
  cursor: pointer;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  height: 36px;
  margin: auto;
  overflow: hidden;
  text-align: center;
  width: 90%;

  .select-inline {
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    height: 38px;

    .option-wrapper {
      background: $white-background;
      color: $gray-secondary-text;
      display: inline-block;
      height: 36px;
      line-height: 36px;
      text-align: center;

      .option {
        border-left: 1px solid $gray-border;
        border-right: 1px solid $gray-border;
        width: 100%;

        .option-text {
          margin: auto;
          white-space: nowrap;
          overflow: hidden;
          text-align: center;
          text-overflow: ellipsis;
          width: 90%;
        }
      }

      &:first-of-type {
        .option {
          border-left: none;
        }
      }

      &.selected {
        background: $purple-main;
        color: $white-background;

        &.purple {
          background: $purple-main;
        }
        &.blue {
          background: $blue-projects;
        }
        &.pink {
          background: $pink-hobbies;
        }
        &.green {
          background: $green-experiences;
        }
      }
    }
  }
}