@import '../../../../scss/_partials/colors';

.round-option {
  background-color: #fff;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: inline-block;
  margin: 5px 10px 0 0;
  text-align: center;
  height: 100px;
  width: 100px;

  img {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin-top: 1px;
    height: 100px;
    width: 100px;
  }
}