.chip {
  background: #FFF;
  color: #6C6F82;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  padding: 0 12px 0 7px;
  box-sizing: border-box;
  vertical-align: middle;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 2px 0;
  max-width: 400px;
  font-size: 13px;

  &.selected {
    background: #E2E3E7;
  }
  .cancel-icon {
    color: #999999;
    font-size: 20px;
    animation: icon-rotate-back 0.1s linear;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  .add-icon {
    color: #999999;
    font-size: 20px;
    animation: icon-rotate 0.1s linear;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex-shrink: 1;
    -ms-flex: 0 1 auto;
    flex-shrink: 1;
    min-width: 0;
    margin-left: 6px;
  }
}

@keyframes icon-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@-webkit-keyframes icon-rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@keyframes icon-rotate-back {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes icon-rotate-back {
  0% {
    -webkit-transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}