@import '../../../scss/_partials/colors';

.view {
  background-color: $background;
}

.top-nav-bar {
  position: absolute;
  top: 0;
  width: 100%;
}

.center-line{
  width: 100%;
  display: flex;
}

.top-data {
  text-align: left;
  padding-left: 10%;
  padding-top: 5%;
  width: 70%;
}

.edit-link {
  width: 20%;
  height: 20px;
  color: $links;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.natural-category {
  display: flex;
}

.loading {
  margin-top: 100px;
  text-align: center;
}

.navbar-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 9001;
}

.logoutContent {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  align-items: center;
  .text {
    margin: 12px 0 8px;
  }
}
.logoutDismiss, .logoutAccept {
  font-size: 16px;
}
.logoutDismiss {
  color: #818fa0;
}
.logoutAccept {
  color: #208fe1;
}

.upload-wrapper {
  position: absolute;
  right: 25px;
  top: 200px;
  width: 50px;
  height: 50px;
  
  .input {
    position: absolute;
    left:0;
    top: 0;
    height: 100%;
    width: 100%;
    padding-left:0;
    cursor: pointer;
  }
  
  .roundedIcon {
    position:absolute;
    left: 0;
    top: 0;
    cursor: pointer;
  }
  
}
