.frame {
  background: #FFF;
  border: 1px solid #E2E3E7;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: #6C6F82;
  display: inline-block;
  font-size: 15px;
  margin: 10px;
  padding: 10px;
}