@import '../../../../scss/_partials/colors';

.frame {
  background: #FFF;
  border: 1px solid #E2E3E7;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0 0 5px $gray-border;
  color: #6C6F82;
  display: inline-block;
  font-size: 15px;
  margin: 2.5%;
  padding: 0;
  width: 95%;

  .title {
    background: #E2E3E7;
    border: 1px solid #E2E3E7;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    color: #6C6F82;
    height: 10px;
    line-height: 10px;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .content {
    padding: 10px;
  }
}