@import '../../../../scss/_partials/colors';

.matching-bars {
  margin-top: 16px;
  padding: 0 5%;

  .progress-bar-title {
    display: inline-block;
    font-size: 8px;
    height: 33px;
    line-height: 33px;
    width: 50%;
    text-align: left;

    @media only screen and (min-width: 320px) {
      font-size: 10px;
    }
    @media only screen and (min-width: 370px) {
      font-size: 12px;
    }
  }

  .progress-bar {
    display: inline-block;
    width: 40%;
  }
}

.matching-bars-condensed {
  margin-top: 16px;
  padding: 0 5%;

  .progress-bar-title {
    display: inline-block;
    font-size: 8px;
    height: 33px;
    line-height: 33px;
    width: 100%;
    margin-bottom: -10px;

    @media only screen and (min-width: 320px) {
      font-size: 10px;
    }
    @media only screen and (min-width: 370px) {
      font-size: 12px;
    }
  }

  .progress-bar {
    display: inline-block;
    width: 100%;
  }
}