.rounded-image {
  background: #fff;
  border: 5px solid #FFF;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  position: relative;
  overflow: hidden;

  &.x-large {
    height: 350px;
    width: 350px;
  }
  &.large {
    height: 250px;
    width: 250px;
  }
  &.regular {
    height: 150px;
    width: 150px;
  }
  &.small {
    height: 50px;
    width: 50px;
  }
  &.x-small {
    height: 25px;
    width: 25px;
  }

  .image {
    width: 100%;
  }
}