.rounded-image {
  background: #fff;
  border: 5px solid #FFF;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: inline-block;
  position: relative;
  overflow: hidden;

  &.x-large {
    height: 250px;
    width: 250px;
  }
  &.large {
    height: 150px;
    width: 150px;
  }
  &.medium {
    height: 100px;
    width: 100px;
  }
  &.small {
    height: 50px;
    width: 50px;
  }
  &.x-small {
    height: 40px;
    width: 40px;
  }

  .image {
    width: 100%;
  }
}