@import '../../../../scss/_partials/colors';

.location-input-wrapper {

  .title {
    font-weight: 600;
  }
  .location-input {
    ul {
      list-style-type: none;
      padding: 0;
      li {
        margin: 10px 0;
      }
    }

  }
}